Repository antlr/grammars-v4, pull requests merged in 2018-07, with the labels that each got.

#1167 Powerbuilder
  powerbuilder/examples/example2.txt
  powerbuilder/examples/example2.txt.tree
  powerbuilder/failed_examples/example1.txt
  powerbuilder/failed_examples/example3.txt
  powerbuilder/failed_examples/example4.txt
  powerbuilder/pom.xml
  powerbuilder/powerbuilderLexer.g4
  powerbuilder/powerbuilderParser.g4
Labels: example, powerbuilder

#1170 golang: Fixed issue with parsing multi-value type declarations
  golang/Golang.g4
  golang/examples/multiple_type_decl.go
Labels: example, go

#1177 Update Solidity grammar with latest constructs
  solidity/Solidity.g4
Labels: solidity

#1182 Truncate fixes
  tsql/TSqlParser.g4
  tsql/examples/truncate.sql
Labels: example, tsql

#1184 Update Solidity grammar and add more examples
  solidity/Solidity.g4
  solidity/examples/test.sol
Labels: example, solidity

#1183 pascal update
  pascal/pascal.g4
Labels: pascal

#1188 Apache Cassandra CQL3 Grammar
  _grammar-test/src/test/java/TestCql3.java
  cql3/CqlLexer.g4
  cql3/CqlParser.g4
  cql3/examples/alterKeyspace.cql
  cql3/examples/alterMaterializedView.cql
  cql3/examples/alterRole.cql
  cql3/examples/alterTable.cql
  cql3/examples/alterType.cql
  cql3/examples/alterUser.cql
  cql3/examples/applyBatch.cql
  cql3/examples/createAggregate.cql
  cql3/examples/createFunction.cql
  cql3/examples/createIndex.cql
  cql3/examples/createKeyspace.cql
  cql3/examples/createMaterializedView.cql
  cql3/examples/createRole.cql
  cql3/examples/createTable.cql
  cql3/examples/createTrigger.cql
  cql3/examples/createType.cql
  cql3/examples/createUser.cql
  cql3/examples/delete.cql
  cql3/examples/dropAggregate.cql
  cql3/examples/dropFunction.cql
  cql3/examples/dropIndex.cql
  cql3/examples/dropKeyspace.cql
  cql3/examples/dropMaterializedView.cql
  cql3/examples/dropRole.cql
  cql3/examples/dropTable.cql
  cql3/examples/dropTrigger.cql
  cql3/examples/dropType.cql
  cql3/examples/dropUser.cql
  cql3/examples/grant.cql
  cql3/examples/insert.cql
  cql3/examples/listPermissions.cql
  cql3/examples/listRoles.cql
  cql3/examples/revoke.cql
  cql3/examples/select.cql
  cql3/examples/truncate.cql
  cql3/examples/update.cql
  cql3/examples/use.cql
  cql3/pom.xml
  pom.xml
Labels: example, new-grammar

#1189 grammar formatting
  cql3/CqlLexer.g4
  cql3/CqlParser.g4
Labels: formatting

#1193 ADD: PROV-N grammar
  pom.xml
  prov-n/PROV_N.g4
  prov-n/README.md
  prov-n/examples/example1.provn
  prov-n/examples/example2.provn
  prov-n/pom.xml
Labels: example, new-grammar
