Repository antlr/grammars-v4, pull requests merged in 2018-10, with the labels that each got.

#1256 Fix drive_strength and Time_Identifier
  verilog/Verilog2001.g4
Labels: verilog

#1124 Add single dot to function definition and calls
  r/R.g4
Labels: R

#1217 JavaScript port for PHP grammar
  php/JavaScript/PhpLexer.g4
Labels: php, target:javascript

#1272 Adding Mysql 8.0 specific rename column constructs to MysqlParser
  mysql/MySqlParser.g4
  mysql/examples/ddl_alter.sql
Labels: mysql

#1265 Support nested statement expression for ObjectiveCParser
  objc/ObjectiveCParser.g4
Labels: objc
