Repository antlr/grammars-v4, pull requests merged in 2018-11, with the labels that each got.

#1284 Missing parenthesis around partition definition
  mysql/MySqlParser.g4
  mysql/examples/ddl_alter.sql
Labels: mysql

#1292 Fixed filename and grammar name
  antlr4/ANTLRv4LexerPythonTarget.g4
Labels: antlr4, target:python2, target:python3

#1293 Cto
  .gitignore
  cto/CtoLexer.g4
  cto/CtoParser.g4
  cto/examples/invalid/datetime.cto
  cto/examples/invalid/datetime.cto.errors
  cto/examples/invalid/reference.cto
  cto/examples/invalid/reference.cto.errors
  cto/examples/valid/person.cto
  cto/examples/valid/transaction.cto
  cto/examples/valid/vehicle.cto
  cto/pom.xml
  pom.xml
Labels: example, new-grammar

#1299 MySQL allows quotes around engine names
  mysql/MySqlLexer.g4
  mysql/examples/ddl_create.sql
Labels: mysql
