Repository antlr/grammars-v4, pull requests merged in 2018-12, with the labels that each got.

#1314 [javascript] support for Go
  javascript/Go/README.md
  javascript/Go/javascript_base_lexer.go
  javascript/Go/javascript_base_parser.go
  javascript/JavaScriptLexer.g4
  javascript/JavaScriptParser.g4
Labels: javascript, target:go

#1321 Align Kotlin grammar closer to the official one
  kotlin/KotlinParser.g4
  kotlin/examples/Test.kt
  kotlin/examples/kotlinFile/bad_property.kt
  kotlin/examples/kotlinFile/fun_on_same_line.kt
  kotlin/examples/kotlinFile/fun_on_same_line.kt.errors
  kotlin/examples/script/hello.kts
  kotlin/examples/script/preamble_nl.kts
  kotlin/examples/script/preamble_nl_semi.kts
  kotlin/pom.xml
Labels: kotlin

#1327 fixes for #568
  cpp/CPP14.g4
Labels: cpp, formatting

#1330 include kotlin-formal in base build
  kotlin-formal/pom.xml
  pom.xml
Labels: kotlin
