Repository antlr/grammars-v4, pull requests merged in 2019-06, with the labels that each got.

#1431 Allow mysqlvariable in limit offset
  mysql/MySqlParser.g4
  mysql/examples/dml_select.sql
Labels: mysql

#1443 MySQL grammar - triggers with SET NEW.___ and functions returning strings with collation
  mysql/MySqlParser.g4
  mysql/examples/ddl_create.sql
Labels: example, mysql

#1436 Support for rename index
  mysql/MySqlParser.g4
  mysql/examples/ddl_alter.sql
Labels: example, mysql

#1444 Add XSD regular expression grammar
  pom.xml
  xsd-regex/examples/example-any.txt
  xsd-regex/examples/example-chargroup-sub1.txt
  xsd-regex/examples/example-chargroup-sub2.txt
  xsd-regex/examples/example-chargroup-sub3.txt
  xsd-regex/examples/example-chargroup.txt
  xsd-regex/pom.xml
  xsd-regex/regexLexer.g4
  xsd-regex/regexParser.g4
Labels: example, new-grammar

#1446 Added HTTP grammar
  http/examples/test.http
  http/examples/testHeader.http
  http/http.g4
Labels: example, new-grammar

#1448 INTERNAL is valid identifier
  mysql/MySqlParser.g4
  mysql/examples/ddl_create.sql
Labels: mysql
