Repository antlr/grammars-v4, pull requests merged in 2019-09, with the labels that each got.

#1502 [javascript] Fix typo IsSrictMode -> IsStrictMode.
  javascript/CSharpSharwell/JavaScriptBaseLexer.cs
  javascript/Cpp/JavaScriptBaseLexer.cpp
  javascript/Cpp/JavaScriptBaseLexer.h
  javascript/Java/JavaScriptBaseLexer.java
  javascript/JavaScript/JavaScriptBaseLexer.js
Labels: javascript

#1497 Golang
  golang/Go/golang_base_lexer.go
  golang/Go/golang_base_parser.go
  golang/Golang.g4
  golang/GolangLexer.g4
  golang/GolangParser.g4
  golang/Java/GoBaseLexer.java
  golang/Java/GoBaseParser.java
  pom.xml
Labels: go, target:go, target:java

#1506 Added informations about the MySQL grammar from Oracle
  mysql/Oracle/README.md
  mysql/Positive-Technologies/MySqlLexer.g4
  mysql/Positive-Technologies/MySqlParser.g4
  mysql/Positive-Technologies/README.md
  mysql/Positive-Technologies/examples/bitrix_queries_cut.sql
  mysql/Positive-Technologies/examples/case_sensitive_sql.sql
  mysql/Positive-Technologies/examples/ddl_alter.sql
  mysql/Positive-Technologies/examples/ddl_create.sql
  mysql/Positive-Technologies/examples/ddl_drop.sql
  mysql/Positive-Technologies/examples/dml_delete.sql
  mysql/Positive-Technologies/examples/dml_insert.sql
  mysql/Positive-Technologies/examples/dml_replace.sql
  mysql/Positive-Technologies/examples/dml_select.sql
  mysql/Positive-Technologies/examples/dml_union.sql
  mysql/Positive-Technologies/examples/dml_update.sql
  mysql/Positive-Technologies/examples/ext_tests.sql
  mysql/Positive-Technologies/examples/grant.sql
  mysql/Positive-Technologies/examples/mysql_spec_comment.sql
  mysql/Positive-Technologies/examples/smoke_tests.sql
  mysql/README.md
  mysql/pom.xml
Labels: mysql

#1512 fix #1510 resolution
  graphql/GraphQL.g4
Labels: graphql

#1514 Fix lexer and parser grammar errors, fix java ternary operator associativity
  antlr3/ANTLRv3.g4
  asm8080/asm8080.g4
  asm8086/asm8086.g4
  asmMASM/asmMASM.g4
  asmZ80/asmZ80.g4
  clu/clu.g4
  guido/guido.g4
  java/JavaParser.g4
  java/examples/AllInOne7.java
  less/LessLexer.g4
  muddb/muddb.g4
  pdn/pdn.g4
  powerbuilder/PowerBuilderLexer.g4
  powerbuilder/PowerBuilderParser.g4
  powerbuilder/README.md
  powerbuilder/examples/example1.txt
  powerbuilder/examples/example2.txt.tree
  powerbuilder/examples/example3.txt
  powerbuilder/examples/example4.txt
  powerbuilder/pom.xml
  powerbuilder/powerbuilderLexer.g4
  z/ZLexer.g4
Labels: java, powerbuilder

#1509 Universal python 2/3 grammar (C# and Java runtimes for now)
  python/CSharp/PythonLexerBase.cs
  python/CSharp/PythonParserBase.cs
  python/Java/PythonLexerBase.java
  python/Java/PythonParserBase.java
  python/Java/PythonVersion.java
  python/PythonLexer.g4
  python/PythonParser.g4
  python/README.md
  python/examples/argument.py
  python/examples/atom.py
  python/examples/class_or_func_def_stmt.py
  python/examples/classdef.py
  python/examples/comprehension.py
  python/examples/def_parameters.py
  python/examples/dictorsetmaker.py
  python/examples/expr.py
  python/examples/expr_stmt.py
  python/examples/for_stmt.py
  python/examples/funcdef.py
  python/examples/if_stmt.py
  python/examples/import_stmt.py
  python/examples/logical_test.py
  python/examples/simple_stmt.py
  python/examples/small_stmt.py
  python/examples/subscript.py
  python/examples/test.py
  python/examples/testlist_comp.py
  python/examples/tokens.py
  python/examples/trailer.py
  python/examples/try_stmt.py
  python/examples/typedargslist.py
  python/examples/varargslist.py
  python/examples/while_stmt.py
  python/examples/with_stmt.py
  python/examples/yield_expr.py
Labels: example, new-grammar, python2, python3, target:csharp-optimized, target:java

#1517 Added ES6 features for JavaScript grammar #1227
  javascript/Go/README.md
  javascript/JavaScriptLexer.g4
  javascript/JavaScriptParser.g4
  javascript/README.md
  javascript/examples/Generators.js
  javascript/examples/Iterators.js
  javascript/examples/Modules.js
Labels: javascript
