Repository antlr/grammars-v4, pull requests merged in 2019-12, with the labels that each got.

#1569 Subprogram body inside package declaration
  vhdl/vhdl.g4
Labels: vhdl

#1568 antlr4: support action blocks inside options spec (fixes #1567)
  antlr4/ANTLRv4Lexer.g4
  antlr4/examples/Issue1567.g4
  antlr4/src/main/java/org/antlr/parser/antlr4/LexerAdaptor.java
Labels: antlr4

#1578 Parse return-only function
  mysql/Positive-Technologies/MySqlParser.g4
  mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies

#1576 Python NEWLINEs at EOF are no longer stripped
  python3-cs/Python3.g4
  python3-js/Python3.g4
  python3-py/Python3.g4
  python3-ts/Python3.g4
  python3/Python3.g4
  python3alt/AltPython3.g4
Labels: python3

#1581 T-SQL - Reorder Function Rule
  tsql/TSqlParser.g4
Labels: example, tsql

#1582 T-SQL - SHUTDOWN Statement
  tsql/TSqlParser.g4
  tsql/examples/shutdown_statements.sql
Labels: example, tsql

#1583 T-SQL - RECONFIGURE Statement
  tsql/TSqlLexer.g4
  tsql/TSqlParser.g4
  tsql/examples/reconfigure_statement.sql
Labels: example, tsql

#1586 [ecmascript] Fix expressionStatement condition
  ecmascript/CSharp/ECMAScript.g4
  ecmascript/CSharpSharwell/ECMAScript.g4
  ecmascript/ECMAScript.g4
  ecmascript/Go/ECMAScript.g4
  ecmascript/JavaScript/ECMAScript.g4
  ecmascript/Python/ECMAScript.g4
Labels: ecmascript

#1587 fix issue 1116
  plsql/PlSqlParser.g4
Labels: plsql

#1595 Fixed the ANTLRv4 lexer to exit correctly from prequel constructs
  antlr4/examples/issue1165.g4
  antlr4/examples/issue1165_2.g4
  antlr4/examples/issue1165_3.g4
  antlr4/examples/issue1165_4.g4
  antlr4/src/main/java/org/antlr/parser/antlr4/LexerAdaptor.java
Labels: antlr4, example

#1598 [TSQL] Allow for STRING_AGG function within group, and fix non keyword in Select
  tsql/TSqlLexer.g4
  tsql/TSqlParser.g4
  tsql/examples/splitfunction.sql
  tsql/examples/string_agg.sql
Labels: example, tsql
