Repository antlr/grammars-v4, pull requests merged in 2019-08, with the labels that each got.

#1488 Javascript: Fix issue with function "n" in go
  javascript/JavaScriptParser.g4
Labels: javascript, target:go

#1489 Javascript: fix the receiver 
  javascript/JavaScriptLexer.g4
Labels: javascript, target:go

#1483 Introduce a base lexer for PHP per target runtime
  php/CSharpSharwell/PhpBaseLexer.cs
  php/CSharpSharwell/PhpLexer.g4
  php/Java/PhpBaseLexer.java
  php/JavaScript/PhpBaseLexer.js
  php/JavaScript/PhpLexer.g4
  php/PhpLexer.g4
  php/Python/PhpBaseLexer.py
  php/Python/PhpLexer.g4
  php/pom.xml
Labels: php

#1495 Fix type error
  scala/Scala.g4
Labels: scala, symbol-conflict, target:go

#1500 Make java8 universal. Resolve #1499
  java8-js/Java8.JavaScriptTarget.g4
  java8-ts/Java8.TypeScriptTarget.g4
  java8/CodepointRangeScanner.java
  java8/Java8Lexer.g4
  java8/Java8Parser.g4
Labels: java
