Repository antlr/grammars-v4, pull requests merged in 2019-03, with the labels that each got.

#1371 Updated dice notation grammar
  dice/DiceNotation.g4
  dice/DiceNotationLexer.g4
  dice/README.md
  dice/examples/arithmetic_dice.txt
  dice/examples/arithmetic_dice.txt.tree
  dice/examples/arithmetic_mixed.txt
  dice/examples/arithmetic_mixed.txt.tree
  dice/examples/arithmetic_mixed_div.txt
  dice/examples/arithmetic_mixed_div.txt.tree
  dice/examples/arithmetic_mixed_mult.txt
  dice/examples/arithmetic_mixed_mult.txt.tree
  dice/examples/arithmetic_num.txt
  dice/examples/arithmetic_num.txt.tree
  dice/examples/dice.txt
  dice/examples/dice.txt.tree
  dice/examples/dice_arithmetic.txt
  dice/examples/dice_arithmetic.txt.tree
  dice/examples/dice_with_sub.txt
  dice/examples/dice_with_sum.txt
  dice/examples/invalid_dice_format.txt
  dice/examples/invalid_dice_format.txt.errors
  dice/examples/invalid_dice_missing_dice.txt
  dice/examples/invalid_dice_missing_dice.txt.tree
  dice/examples/invalid_dice_missing_side.txt
  dice/examples/invalid_dice_missing_side.txt.errors
  dice/examples/invalid_dice_suffix.txt
  dice/examples/invalid_dice_suffix.txt.errors
  dice/examples/invalid_dice_whitespace_end.txt
  dice/examples/invalid_dice_whitespace_end.txt.errors
  dice/examples/invalid_dice_whitespace_start.txt
  dice/examples/invalid_dice_whitespace_start.txt.errors
  dice/examples/invalid_space_end.txt
  dice/examples/invalid_space_start.txt
  dice/examples/missing_dice.txt
  dice/examples/missing_dice.txt.errors
  dice/examples/missing_side.txt
  dice/examples/missing_side.txt.errors
  dice/examples/mixed_arithmetic.txt
  dice/examples/mixed_arithmetic.txt.tree
  dice/examples/negative_dice.txt
  dice/examples/negative_dice.txt.errors
  dice/examples/negative_dice.txt.tree
  dice/examples/negative_number.txt
  dice/examples/negative_number.txt.errors
  dice/examples/negative_number.txt.tree
  dice/examples/num_arithmetic.txt
  dice/examples/simple_dice.txt
  dice/pom.xml
Labels: dice

#1377 Support for SERIAL type alias and default value
  mysql/MySqlLexer.g4
  mysql/MySqlParser.g4
  mysql/examples/ddl_create.sql
Labels: example, mysql

#1378 Comma is optional in table options of ALTER
  mysql/MySqlParser.g4
  mysql/examples/ddl_alter.sql
Labels: example, mysql

#1382 Update TSqlParser.g4
  tsql/TSqlParser.g4
  tsql/func_and_proc.md
Labels: tsql

#1383 Schema not allowed in server and database triggers
  tsql/TSqlParser.g4
Labels: tsql
