Repository antlr/grammars-v4, pull requests merged in 2019-07, with the labels that each got.

#1461 Handle both ALGO and LOCK from CREATE/DROP INDEX
  mysql/MySqlParser.g4
  mysql/examples/ddl_create.sql
  mysql/examples/ddl_drop.sql
Labels: example, mysql

#1466 GraphQL - Give BOOLEAN literal precedence over NAME token
  graphql/GraphQL.g4
Labels: graphql

#1465 Support CHARSET in CAST function
  mysql/MySqlParser.g4
  mysql/examples/ddl_create.sql
Labels: example, mysql

#1467 2019-06-30 add v grammar.
  v/README.md
  v/V.g4
  v/examples/helloworld.v
  v/examples/http_time.v
  v/examples/json.v
  v/examples/read_file.v
Labels: new-grammar, target:java

#1463 Support for third party engines
  mysql/MySqlParser.g4
  mysql/examples/ddl_create.sql
Labels: example, mysql

#1471 Add Lars Pensjö C grammar which being used in games.
  lpc/LPC.g4
  lpc/examples/example1.c
  lpc/examples/example2.c
  lpc/pom.xml
Labels: example, new-grammar

#1472 Support for unquoted full table name in GRANT
  mysql/MySqlParser.g4
  mysql/examples/grant.sql
Labels: example, mysql

#1474 Fix MySqlParser (for Golang target)
  mysql/MySqlParser.g4
Labels: mysql, target:go
