Repository antlr/grammars-v4, pull requests merged in 2019-11, with the labels that each got.

#1544 Fixed the grammar for Compatibility Acceptance Tests
  graphql/GraphQL.g4
Labels: graphql

#1550 #1549 Fix cool grammar issue for COMMA separated formal/expression
  cool/COOL.g4
Labels: cool

#1548 Fixed javascript assignment expressions order and a 'sed' script
  javascript/Cpp/custom.h
  javascript/Cpp/pitch.sed
  javascript/JavaScriptParser.g4
Labels: javascript, target:cpp

#1542 Tsql KILL Statement
  tsql/TSqlLexer.g4
  tsql/TSqlParser.g4
  tsql/examples/kill_statements.sql
Labels: tsql

#1551 Golang new version
  golang/CSharp/GoParserBase.cs
  golang/Go/go_parser_base.go
  golang/Go/golang_base_lexer.go
  golang/GoLexer.g4
  golang/GoParser.g4
  golang/GolangLexer.g4
  golang/GolangParser.g4
  golang/Java/GoBaseLexer.java
  golang/Java/GoParserBase.java
  golang/README.md
  golang/examples/anonymousMethods.go
  golang/examples/arrayDecls.go
  golang/examples/arrayEllipsisDecls.go
  golang/examples/bufChan.go
  golang/examples/chan.go
  golang/examples/constDecl.go
  golang/examples/defers.go
  golang/examples/forStmts.go
  golang/examples/foreachStmts.go
  golang/examples/function.go
  golang/examples/gostmts.go
  golang/examples/hardcodedPassword.go
  golang/examples/interface_inheritance.go
  golang/examples/interfaces.go
  golang/examples/map_with_string.go
  golang/examples/maps.go
  golang/examples/method.go
  golang/examples/params.go
  golang/examples/promoted.go
  golang/examples/returnStmt.go
  golang/examples/select.go
  golang/examples/shortVarDecl.go
  golang/examples/sliceDecls.go
  golang/examples/struct_promotion.go
  golang/examples/struct_with_func_type.go
  golang/examples/structs.go
  golang/examples/switchesExpr.go
  golang/examples/switchesType.go
  golang/examples/typeAsserts.go
  golang/examples/varDecl.go
  golang/examples/weakHash.go
Labels: example, go, target:csharp-optimized, target:go, target:java

#1553 Js: esnext
  javascript/CSharpSharwell/JavaScriptBaseLexer.cs
  javascript/Cpp/JavaScriptBaseLexer.cpp
  javascript/Cpp/JavaScriptBaseLexer.h
  javascript/Cpp/README.md
  javascript/Go/javascript_base_lexer.go
  javascript/Java/JavaScriptBaseLexer.java
  javascript/JavaScript/JavaScriptBaseLexer.js
  javascript/JavaScriptLexer.g4
  javascript/JavaScriptParser.g4
  javascript/README.md
  javascript/examples/AsyncAwait.js
  javascript/examples/Classes.js
  javascript/examples/Function.js
  javascript/examples/Generators.js
  javascript/examples/Misc.js
  javascript/examples/Modules.js
  javascript/examples/Stage3.js
  javascript/fuzztest.bat
  javascript/generate.bat
  javascript/wrapper.js
Labels: javascript

#1558 stellaris
  pom.xml
  stellaris/README.md
  stellaris/examples/aleran_ai_events.txt
  stellaris/examples/aleran_chain_events.txt
  stellaris/examples/aleran_colossus_events.txt
  stellaris/examples/aleran_diplomacy_events.txt
  stellaris/examples/aleran_init_events.txt
  stellaris/examples/aleran_megastructure_events.txt
  stellaris/examples/aleran_society_events.txt
  stellaris/examples/misc_events.txt
  stellaris/examples/ongoing_events.txt
  stellaris/pom.xml
  stellaris/stellaris.g4
Labels: example, new-grammar

#1557 golang: Updated CSharp GoParserBase to properly compile with run-time
  golang/CSharp/GoParserBase.cs
Labels: go, target-specific, target:csharp-optimized, target:csharp-standard

#1561 fix balancedtoken rule.
  cpp/CPP14.g4
Labels: cpp
