Repository antlr/grammars-v4, pull requests merged in 2019-04, with the labels that each got.

#1384 Add parser rule for alter table enum/set collection options.
  mysql/MySqlParser.g4
  mysql/examples/ddl_alter.sql
Labels: mysql

#1385 FLOAT supports single value precision constraint
  mysql/MySqlParser.g4
  mysql/examples/ddl_create.sql
Labels: mysql

#1386 Add textual WebAssembly grammar.
  wat/README.md
  wat/WatLexer.g4
  wat/WatParser.g4
Labels: new-grammar

#1387 Made a working LexerAdaptor
  antlr4/LexerAdaptor.cs
Labels: antlr4, target:csharp-standard

#1391 Prevent String name conflict with Go target in SystemVerilog grammar
  system_verilog/SysVerilogHDL.g4
Labels: symbol-conflict, target:go

#1392 Golang generator fix
  dart2/Dart2.g4
Labels: symbol-conflict, target:go

#1396 Mysql: Add some missing item from the lexer in keywordsCanBeId
  mysql/MySqlParser.g4
Labels: mysql

#1405 Extended Dart grammar to take escape sequences into account.
  dart2/Dart2.g4
  dart2/examples/escape_sequences.dart
  dart2/examples/escaped_backslash.dart
Labels: dart, example
