Repository antlr/grammars-v4, pull requests merged in 2020-10, with the labels that each got.

#1867 Use expression as default for variable declaration.
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1864 Add top level elements
  terraform/examples/module/main.tf
  terraform/examples/reference_data_resources.tf
  terraform/examples/top_level_nodes.tf
  terraform/pom.xml
  terraform/terraform.g4
Labels: example, terraform

#1873 Microc
  microc/README.md
  microc/examples/example1.c
  microc/examples/example2.c
  microc/examples/example5.c
  microc/microc.g4
  microc/pom.xml
  pom.xml
Labels: example, new-grammar

#1874 Briainflak
  brainflak/README.md
  brainflak/brainflak.g4
  brainflak/examples/example1.txt
  brainflak/examples/example2.txt
  brainflak/examples/example3.txt
  brainflak/pom.xml
  pom.xml
Labels: example, new-grammar

#1878 Add the terraform block
  terraform/examples/terraform.tf
  terraform/terraform.g4
Labels: example, terraform

#1877 Add ternary if
  terraform/examples/operators.tf
  terraform/terraform.g4
Labels: new-grammar, terraform

#1879 added optional limit statement to the bolk collect fetch statement
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/bulk_collect_fetch_clause01.sql
Labels: example, plsql

#1885 Allow arbitrary table alias in column name
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: example, mysql-PositiveTechnologies

#1886 BLOB is dimensional datatype
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1880 Allow ',' to separate map entries
  terraform/examples/map.tf
  terraform/terraform.g4
Labels: example, terraform

#1884 Do not terminate a string with an escaped double quote
  terraform/examples/strings.tf
  terraform/terraform.g4
Labels: example, terraform

#1883 Allow empty array initialization
  terraform/examples/array.tf
  terraform/examples/terraform.tf
  terraform/examples/top_level_nodes.tf
  terraform/terraform.g4
Labels: example, terraform

#1889 Added optional fetch clause in the query block
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/fetch_clause04.sql
Labels: example, plsql

#1857 MySQL: DATETIME|TIMESTAMP data type column with default value initialization and updating
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, hacktoberfest, mysql-PositiveTechnologies

#1888 Replace the new RESOURCEREFERENCE by a section.section as it was before
  terraform/examples/module/main.tf
  terraform/examples/reference_data_resources.tf
  terraform/terraform.g4
Labels: example, terraform

#1892 Add inline index expression
  terraform/examples/reference_data_resources.tf
  terraform/terraform.g4
Labels: example, terraform

#1870 Removed grammar ambiguities, lot of rule fixes and additions
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/analytic_windowed_functions.sql
  sql/tsql/examples/create_xml_index.sql
  sql/tsql/examples/expressions.sql
  sql/tsql/examples/gogo.sql
  sql/tsql/examples/xml_data_type.sql
Labels: example, hacktoberfest, tsql

#1895 chore: re-integrate the PL/SQL grammar into the build
  sql/plsql/Java/PlSqlLexerBase.java
  sql/plsql/Java/PlSqlParserBase.java
  sql/plsql/pom.xml
  sql/pom.xml
Labels: plsql

#1898 Support unicode identifiers
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1901 joss
  joss/README.md
  joss/joss.g4
  joss/pom.xml
  pom.xml
Labels: new-grammar

#1905 Rename NULL, TRUE, and FALSE literals in SQLite grammar to successfully compile targeting c++
  sql/sqlite/SQLiteLexer.g4
  sql/sqlite/SQLiteParser.g4
Labels: sqlite, symbol-conflict, target:cpp

#1910 Allow insert statements to include record variables
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/insert_statement.sql
Labels: example, plsql
