Repository antlr/grammars-v4, pull requests merged in 2020-06, with the labels that each got.

#1733 MySQL datatype CHARACTER
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1734 Support multiple SETs for trigger
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1736 Fixes in the Python backend of the JavaScript grammar
  javascript/javascript/Python/JavaScriptLexerBase.py
  javascript/javascript/Python/JavaScriptParserBase.py
Labels: javascript, target:python3

#1748 IDL.g4 replace literal '*' with lexer rule
  idl/IDL.g4
Labels: idl

#1749 Correct STRING_LITERAL definition
  matlab/examples/example3.txt
  matlab/matlab.g4
Labels: example, matlab

#1758 Terraform
  .github/workflows/main.yml
  pom.xml
  terraform/README.md
  terraform/examples/example1.txt
  terraform/pom.xml
  terraform/terraform.g4
Labels: new-grammar

#1760 Comment test
  csharp/examples/AllInOneNoPreprocessor.cs
Labels: csharp, example

#1764 New Python3 Grammar for TS
  python/python3-ts/Python3.g4
Labels: python3, target:typescript
