Repository antlr/grammars-v4, pull requests merged in 2020-07, with the labels that each got.

#1769 rfc3080
  pom.xml
  rfc3080/README.md
  rfc3080/beep.g4
  rfc3080/pom.xml
Labels: example, new-grammar

#1751 add teal grammar
  teal/Teal.g4
  teal/examples/arrays.tl
  teal/examples/enums.tl
  teal/examples/functions.tl
  teal/pom.xml
Labels: new-grammar, teal

#1779 added code examples for automated sequence generation + added grammar…
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: example, plsql

#1780 add iso8601 grammar
  iso8601/LICENSE
  iso8601/README.md
  iso8601/iso8601.g4
Labels: new-grammar

#1788 Fixed-> CPP14 grammar:parse error when writing a string in multiple l…
  cpp/CPP14.g4
  cpp/examples/test.cpp
  cpp/examples/test1.cpp
Labels: cpp, example

#1789 add column check constraints to MySQL grammar and support json_valid and json_schema_valid for MySQL and MariaDB flavors
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1785 Parse function calls
  terraform/examples/example4.txt
  terraform/terraform.g4
Labels: example, terraform

#1792 lua: local variable attribute
  lua/Lua.g4
Labels: lua

#1794 Add crossdb data types
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1790 Supported -> Why SQLite Window Functions are not supported ? @bkiers …
  sql/sqlite/SQLite.g4
  sql/sqlite/examples/WindowsFunctiontForSqLite.sql
Labels: example, sqlite

#1796 Improved LONG VARCHAR/VARBINARY handling
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1799 Json5
  json5/JSON5.g4
  json5/examples/example1.json
  json5/examples/example2.json5
  json5/examples/example3.json5
  json5/pom.xml
  pom.xml
Labels: example, json, new-grammar

#1803 An ANTLR4 grammar for HIVE
  sql/hive/README.md
  sql/hive/examples/ddl.sql
  sql/hive/examples/select.sql
  sql/hive/grammar/FromClauseParser.g4
  sql/hive/grammar/HintParser.g4
  sql/hive/grammar/HiveLexer.g4
  sql/hive/grammar/HiveParser.g4
  sql/hive/grammar/IdentifiersParser.g4
  sql/hive/grammar/ResourcePlanParser.g4
  sql/hive/grammar/SelectClauseParser.g4
  sql/hive/pom.xml
Labels: example, new-grammar
