Repository antlr/grammars-v4, pull requests merged in 2020-12, with the labels that each got.

#1954 Allow procedure variables in LIMIT clause
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: example, mysql-PositiveTechnologies

#1957 Support for CHAR VARYING use
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1958 Keyword `schema` can be used as a function name in MySQL
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: example, mysql-PositiveTechnologies

#1959 Fix for https://github.com/antlr/grammars-v4/issues/1956
  antlr/antlr4/ANTLRv4Parser.g4
  antlr/antlr4/examples/issue1956.g4
Labels: antlr4, example

#1965 php 8 support
  php/PhpLexer.g4
  php/PhpParser.g4
  php/examples/attribute.php
  php/examples/contructorPropertyPromotion.php
  php/examples/matchExpression.php
  php/examples/namedArguments.php
  php/examples/unionType.php
Labels: example, php

#1966 Php Improvements
  php/CSharp/PhpLexerBase.cs
  php/Java/PhpLexerBase.java
  php/JavaScript/PhpLexerBase.js
  php/PhpLexer.g4
  php/PhpParser.g4
  php/Python/PhpLexerBase.py
  php/examples/array.php
  php/examples/attribute.php
  php/examples/identifiers.php
Labels: example, php

#1969 Comment -- is followed by any whitspace
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1968 Rust
  rust/.gitignore
  rust/README.md
  rust/RustLexer.g4
  rust/RustLexerBase.java
  rust/RustParser.g4
  rust/RustParserBase.java
  rust/build.ps1
  rust/clean.ps1
  rust/examples/deno_core_runtime.rs
  rust/examples/hello.rs
  rust/examples/inlinepython_example.rs
  rust/examples/intellijrust_test_allinone.rs
  rust/examples/leaf_vmessstream.rs
  rust/examples/rustls_quic.rs
  rust/examples/ssrust_config.rs
  rust/examples/ssrust_ssserver.rs
  rust/test.ps1
Labels: example, new-grammar, rust
