Repository antlr/grammars-v4, pull requests merged in 2020-09, with the labels that each got.

#1843 Split VB6 and fixed VBScript (#508)
  vb6/VisualBasic6.g4
  vb6/VisualBasic6Lexer.g4
  vb6/VisualBasic6Parser.g4
  vb6/pom.xml
  vba/vba.g4
Labels: vb

#1845 Fixes for CPP
  cpp/CPP14Lexer.g4
  cpp/CPP14Parser.g4
  cpp/examples/union_non_inheritance.cpp
  cpp/examples/union_non_inheritance.cpp.errors
Labels: cpp

#1847 add promql parser
  pom.xml
  promql/PromQLLexer.g4
  promql/PromQLParser.g4
  promql/README.md
  promql/examples/aggregation1.txt
  promql/examples/aggregation2.txt
  promql/examples/function.txt
  promql/examples/instant_selector1.txt
  promql/examples/instant_selector2.txt
  promql/examples/instant_selector3.txt
  promql/examples/instant_selector4.txt
  promql/examples/join1.txt
  promql/examples/join2.txt
  promql/examples/join3.txt
  promql/examples/matrix_selector1.txt
  promql/examples/matrix_selector2.txt
  promql/examples/matrix_selector3.txt
  promql/examples/offset.txt
  promql/examples/operators.txt
  promql/pom.xml
Labels: example, new-grammar

#1850 Lexer fix for DoubleLiteral
  kotlin/kotlin/KotlinLexer.g4
Labels: kotlin

#1852 annotation rule fix: alternative qualified name
  java/java/JavaParser.g4
  java/java/examples/AllInOne7.java
Labels: java

#1855 Fix Test.java for java8/9 grammars
  java/java8/Test.java
  java/java9/Test.java
Labels: java
