Repository antlr/grammars-v4, pull requests merged in 2020-03, with the labels that each got.

#1653 JSON.g4 parser generation leads to symbol conflict (array)
  json/JSON.g4
Labels: json, symbol-conflict

#1658 Added DROP VIEW in grammar + test case
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/drop_view.sql
Labels: example, plsql

#1662 Added order by statement to query block for using it in query_block rules
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/order_by07.sql
Labels: example, plsql

#1666 Accept SQL variable in LIMIT
  sql/mysql/Positive-Technologies/MySqlParser.g4
Labels: mysql-PositiveTechnologies

#1657 Add Haskell grammar
  haskell/Haskell.g4
  haskell/examples/color.hs
  haskell/examples/multiwayif.hs
  haskell/examples/tree.hs
  haskell/pom.xml
Labels: example, haskell, new-grammar

#1669 JavaScript: fix let and async tokens processing
  javascript/javascript/CSharp/JavaScriptLexerBase.cs
  javascript/javascript/CSharp/JavaScriptParserBase.cs
  javascript/javascript/Cpp/JavaScriptLexerBase.cpp
  javascript/javascript/Cpp/JavaScriptLexerBase.h
  javascript/javascript/Cpp/JavaScriptParserBase.cpp
  javascript/javascript/Cpp/JavaScriptParserBase.h
  javascript/javascript/Cpp/README.md
  javascript/javascript/Cpp/pitch.sed
  javascript/javascript/Go/README.md
  javascript/javascript/Go/javascript_lexer_base.go
  javascript/javascript/Go/javascript_parser_base.go
  javascript/javascript/Java/JavaScriptLexerBase.java
  javascript/javascript/Java/JavaScriptParserBase.java
  javascript/javascript/JavaScript/JavaScriptLexerBase.js
  javascript/javascript/JavaScript/JavaScriptParserBase.js
  javascript/javascript/JavaScriptLexer.g4
  javascript/javascript/JavaScriptParser.g4
  javascript/javascript/README.md
  javascript/javascript/examples/Classes.js
  javascript/javascript/examples/LetAndAsync.js
  javascript/javascript/examples/Modules.js
Labels: example, javascript
