Repository antlr/grammars-v4, pull requests merged in 2020-04, with the labels that each got.

#1676 New grammar Sybase Powerbuilder Datawindow
  powerbuilderdw/PowerBuilderDWLexer.g4
  powerbuilderdw/PowerBuilderDWParser.g4
  powerbuilderdw/README.md
  powerbuilderdw/example/d_example_detail_events.srd
  powerbuilderdw/pom.xml
Labels: example, new-grammar

#1674 Accept insert with default values
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_insert.sql
Labels: example, mysql-PositiveTechnologies

#1678 Fixing Typescript Grammar Bugs From Real CodeBase
  typescript/CSharp/TypeScriptLexerBase.cs
  typescript/CSharp/TypeScriptParserBase.cs
  typescript/Java/TypeScriptLexerBase.java
  typescript/Java/TypeScriptParserBase.java
  typescript/README.md
  typescript/TypeScriptLexer.g4
  typescript/TypeScriptParser.g4
  typescript/examples/Class.ts
  typescript/examples/Function.ts
  typescript/examples/Interface.ts
  typescript/examples/Variable.ts
Labels: example, target:csharp-optimized, typescript

#1681 Fixing issue about haskell grammar
  haskell/HaskellLexer.g4
  haskell/HaskellParser.g4
  haskell/Java/HaskellBaseLexer.java
  haskell/examples/MultiWayIf.hs
  haskell/examples/doAndCase.hs
  haskell/examples/pullTasks.hs
  haskell/examples/zipList.hs
  haskell/pom.xml
Labels: example, haskell, target:java

#1687 Fix `range` and `type` symbol conflicts for Python 3
  protobuf3/Protobuf3.g4
Labels: protobuf, symbol-conflict, target:python3

#1675 Added python scripts for JS
  javascript/javascript/Python/JavaScriptBaseLexer.py
  javascript/javascript/Python/JavaScriptBaseParser.py
  javascript/javascript/Python/README.md
  javascript/javascript/Python/transformGrammar.py
Labels: javascript, target:python3

#1688 Fix issue in GraphQL grammar limiting the enum value definition only to only one
  graphql/GraphQL.g4
Labels: graphql

#1689 Add support of undocumented yet tested `extend`
  protobuf3/Protobuf3.g4
Labels: protobuf

#1695 Haskell - Fixed lexer bug
  haskell/Java/HaskellBaseLexer.java
  haskell/examples/simpleModule.hs
Labels: example, haskell

#1696 IDL.g4: Fix omission of OCTAL_LITERAL in rule "literal"; minor cosmetics
  idl/IDL.g4
Labels: idl

#1699 Fixed invalid octal literal range
  vba/vba.g4
Labels: vb

#1703 Allow object values with multiple fields
  graphql/GraphQL.g4
Labels: graphql

#1704 enhancement for Cql
  cql3/CqlLexer.g4
  cql3/CqlParser.g4
  cql3/examples/insert.cql
  cql3/examples/select.cql
  cql3/examples/update.cql
Labels: cql, example
