Repository antlr/grammars-v4, pull requests merged in 2021-04, with the labels that each got.

#2120 Fix typo
  sql/mysql/README.md
Labels: documentation, mysql-Oracle

#2113 Allow to check colmun
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: mysql-PositiveTechnologies

#2118 Changes for #2117.
  .github/workflows/main.yml
  _scripts/regtest.sh
  _scripts/templates/Antlr4cs/makefile
  _scripts/templates/Antlr4cs/test.sh
  _scripts/templates/CSharp/makefile
  _scripts/templates/CSharp/test.sh
  _scripts/templates/files
  _scripts/test.ps1
  basic/jvmBasic.g4
  bcpl/bcpl.g4
  bnf/bnf.g4
  brainflak/brainflak.g4
  brainflak/pom.xml
  brainfuck/brainfuck.g4
  brainfuck/pom.xml
  calculator/calculator.g4
  calculator/examples/powpow.txt.tree
  calculator/examples/pyth.txt.tree
  calculator/examples/snell.txt.tree
  calculator/examples/sqrt.txt.tree
  calculator/examples/tan.txt.tree
  calculator/examples/weird.txt.tree
  capnproto/CapnProto.g4
  clif/examples/module.clif
  clojure/Clojure.g4
  clojure/pom.xml
  cmake/CMake.g4
  cmake/pom.xml
  cql3/CqlParser.g4
  creole/creole.g4
  css3/css3.g4
  pom.xml
Labels: symbol-conflict

#2127 Support for partition_function has been added.
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/select_partition_function.sql
Labels: example, tsql

#2140 Added two files that show correctness of the grammar.
  cpp/examples/avrc_api.cc
  cpp/examples/no_return.cpp
Labels: cpp, example

#2124 Fix for parsing function prototypes correctly
  cpp/CPP14Parser.g4
Labels: cpp

#2141 T-SQL - Restore Built-in Function Handling
  sql/tsql/TSqlParser.g4
Labels: tsql

#2147 Fix for #2063
  javascript/jsx/JavaScriptLexer.g4
  javascript/jsx/examples/SummaryContainerComment.jsx
Labels: example, jsx

#2135 T-SQL - Improves Parentheses Handling in table_source's
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/dml_select.sql
Labels: example, tsql

#2085 Support negative precision scale values
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: example, plsql

#2134 T-SQL - Logical Operator Precedence in search_condition
  sql/tsql/TSqlParser.g4
Labels: tsql

#2163 Plucid
  plucid/README.md
  plucid/plucid.g4
  plucid/pom.xml
  pom.xml
Labels: new-grammar

#2161 Lisa
  lisa/README.md
  lisa/examples/example1.txt
  lisa/lisa.g4
  lisa/pom.xml
  pom.xml
Labels: example, new-grammar

#2166 create_symmetric_key has been removed. It duplicated by create_key.
  sql/tsql/TSqlParser.g4
Labels: tsql

#2169 Add missing parentheses to subpartition definition
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#2170 Add 'group' keyword to keywordsCanBeId
  sql/mysql/Positive-Technologies/MySqlParser.g4
Labels: mysql-PositiveTechnologies
