Repository antlr/grammars-v4, pull requests merged in 2021-07, with the labels that each got.

#2253 Ctl
  ctl/README.md
  ctl/ctl.g4
  ctl/examples/example1.txt
  ctl/pom.xml
  pom.xml
Labels: ctl, example, new-grammar

#2254 ltl first commit
  ltl/README.md
  ltl/examples/example1.txt
  ltl/ltl.g4
  ltl/pom.xml
  pom.xml
Labels: example, ltl, new-grammar

#2255 tl
  pom.xml
  tl/README.md
  tl/pom.xml
  tl/tl.g4
Labels: new-grammar, tl

#2258 Add table option TABLE_TYPE
  .gitignore
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#2259 Support Mysql INVISIBLE COLUMN syntax
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#2238 plsql exception_declaration swapped with variable_declaration
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_package.sql
  sql/plsql/examples/create_package.sql.tree
  sql/plsql/examples/create_procedure.sql
  sql/plsql/examples/create_procedure.sql.tree
  sql/plsql/examples/package_body.sql
  sql/plsql/examples/package_body.sql.tree
Labels: example, plsql
