Repository antlr/grammars-v4, pull requests merged in 2021-06, with the labels that each got.

#2218 Allow "optional" keyword to be used as an identifier
  sql/mysql/Positive-Technologies/MySqlParser.g4
Labels: example, mysql-PositiveTechnologies

#2224 [PL/SQL] Change into_clause to accept the same targets that are valid in assignment_statement
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples-sql-script/select_into.sql
Labels: example, plsql

#2230 Godot GDScript
  _scripts/skip-cpp.txt
  _scripts/skip-csharp.txt
  _scripts/skip-dart.txt
  _scripts/skip-go.txt
  _scripts/skip-javascript.txt
  _scripts/skip-python3.txt
  gdscript/GDScriptLexer.g4
  gdscript/GDScriptParser.g4
  gdscript/Java/GDScriptLexerBase.java
  gdscript/LICENSE
  gdscript/README.md
  gdscript/examples/getnode.gd
  gdscript/examples/getting_started.gd
  gdscript/pom.xml
  pom.xml
Labels: example, new-grammar

#2231 Support for GRANT/REVOKE roles
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/grant.sql
Labels: example, mysql-PositiveTechnologies

#2232 refal
  pom.xml
  refal/README.md
  refal/examples/example1.txt
  refal/pom.xml
  refal/refal.g4
Labels: example, new-grammar
