Repository antlr/grammars-v4, pull requests merged in 2021-03, with the labels that each got.

#2058 [scss] Improve support for mixins and includes.
  scss/ScssLexer.g4
  scss/ScssParser.g4
  scss/testsrc/test/java/TestBasicCss.java
  scss/testsrc/test/java/TestFunctions.java
  scss/testsrc/test/java/TestInclude.java
  scss/testsrc/test/java/TestMedia.java
  scss/testsrc/test/java/TestMixinAndInclude.java
  scss/testsrc/test/java/TestMixins.java
Labels: scss

#2062 [scss] Add explicit parser rules for maps and lists.
  scss/ScssLexer.g4
  scss/ScssParser.g4
  scss/testsrc/test/java/TestBase.java
  scss/testsrc/test/java/TestBasicCss.java
  scss/testsrc/test/java/TestConditionals.java
  scss/testsrc/test/java/TestFunctions.java
  scss/testsrc/test/java/TestListAndMap.java
  scss/testsrc/test/java/TestMedia.java
  scss/testsrc/test/java/TestMixinAndInclude.java
Labels: scss

#2073 Changes for #2069
  abb/abbParser.g4
  algol60/algol60.g4
  arithmetic/arithmetic.g4
  asm/asm6502/asm6502.g4
  asm/asm8080/asm8080.g4
  asm/asm8086/asm8086.g4
  asm/asmZ80/asmZ80.g4
  asn/asn/ASN.g4
  atl/ATL.g4
Labels: symbol-conflict

#2084 Support auto-generated identity sequence specifications
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: example, plsql

#1918 Fix SQLite grammar parsing column constraints into type name
  sql/sqlite/SQLiteParser.g4
Labels: sqlite

#2088 Support TokuDB row formats
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#2087 Fix escape sequences in string constants
  terraform/examples/array.tf
  terraform/terraform.g4
Labels: example, terraform

#2089 Allow ORDER keyword to be recognized as a MySQL table-name
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_drop.sql
Labels: example, mysql-PositiveTechnologies

#2091 Change TO_DATE element
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/to_date.sql
Labels: example, plsql

#2096 golang: use unicode property in identifier rule
  golang/GoLexer.g4
  golang/examples/unicodeIdentifier.go
Labels: example, go

#2101 MOD as function name
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: example, mysql-PositiveTechnologies

#2103 Move open/close brace from method/function definition to functionBody itself
  javascript/javascript/JavaScriptParser.g4
Labels: javascript

#2094 Consolidation of the SQLite parser and lexer grammars
  sql/sqlite/SQLiteLexer.g4
  sql/sqlite/SQLiteParser.g4
Labels: sqlite
