Repository antlr/grammars-v4, pull requests merged in 2021-02, with the labels that each got.

#2006 Expressions in default values
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#2004 Allow non-mandatory parentheses in function calls
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_insert.sql
Labels: example, mysql-PositiveTechnologies

#2005 Signal option values can be variables
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#1998 Scala grammar fix for #1625 & #1660
  scala/Scala.g4
Labels: scala

#2011 Added FORCE option to type creation command + added additional identi…
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples-sql-script/procedure_with_cursor_and_limit.sql
  sql/plsql/examples-sql-script/synonym_with_database_link.sql
  sql/plsql/examples-sql-script/type_body_elements.sql
Labels: example, plsql

#2008 Add missing Rust parser to top-level pom.xml
  csharp-regression-tests.sh
  pom.xml
Labels: rust

#2018 fix misspelling of word: expression
  sql/mysql/Positive-Technologies/MySqlParser.g4
Labels: mysql-PositiveTechnologies

#2012 fixed trigger empty declare block + added possible option (ON OVERFLO…
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples-sql-script/package_with_cursor.sql
  sql/plsql/examples-sql-script/trigger_examples.sql
  sql/plsql/examples/analytic_query.sql
Labels: example, plsql

#2022 Port supporting code to C# for Rust parser.
  _scripts/csharp-regression-tests.sh
  rust/CSharp/RustLexerBase.cs
  rust/CSharp/RustParserBase.cs
Labels: rust, target:csharp-standard

#2024 Moves variableStatement down the function statement rules
  typescript/TypeScriptParser.g4
Labels: typescript

#2050 Added truncate table statement as unary expression + added merge into…
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples-sql-script/with_clause_in_exists_block_in_procedure.sql
  sql/plsql/examples/merge05.sql
  sql/plsql/examples/truncate_table.sql
Labels: example, plsql

#2048 [scss] Add media query support up to level 3.
  scss/ScssLexer.g4
  scss/ScssParser.g4
  scss/testsrc/test/java/TestBasicCss.java
  scss/testsrc/test/java/TestMedia.java
  scss/testsrc/test/java/TestMixins.java
Labels: scss

#2033 [Hive] Add grammar for 2.x.x version
  sql/hive/README.md
  sql/hive/v2/README.md
  sql/hive/v2/examples/ddl.sql
  sql/hive/v2/examples/expression.sql
  sql/hive/v2/examples/indexes.sql
  sql/hive/v2/examples/select.sql
  sql/hive/v2/examples/transform_1.sql
  sql/hive/v2/examples/transform_2.sql
  sql/hive/v2/examples/transform_3.sql
  sql/hive/v2/examples/transform_4.sql
  sql/hive/v2/examples/transform_5.sql
  sql/hive/v2/examples/transform_6.sql
  sql/hive/v2/grammar/FromClauseParser.g4
  sql/hive/v2/grammar/HintParser.g4
  sql/hive/v2/grammar/HiveLexer.g4
  sql/hive/v2/grammar/HiveParser.g4
  sql/hive/v2/grammar/IdentifiersParser.g4
  sql/hive/v2/grammar/SelectClauseParser.g4
  sql/hive/v2/pom.xml
Labels: example, hive

#2049 [scss] Add a separate token for !important.
  scss/ScssLexer.g4
  scss/ScssParser.g4
  scss/testsrc/test/java/TestBasicCss.java
Labels: scss

#2055 [scss] Support nested property declarations.
  scss/ScssLexer.g4
  scss/ScssParser.g4
  scss/testsrc/test/java/TestBasicCss.java
  scss/testsrc/test/java/TestConditionals.java
  scss/testsrc/test/java/TestInclude.java
  scss/testsrc/test/java/TestMixins.java
Labels: scss
