Repository antlr/grammars-v4, pull requests merged in 2021-05, with the labels that each got.

#2174 TSQL: $action has been moved to expression for output_dml_list_elem.
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/dml_merge.sql
Labels: example, tsql

#2173 TSQL: Rule for stored procedure as external name has been added.
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_procedures.sql
Labels: example, tsql

#2172 Fix for 2171
  .github/workflows/main.yml
Labels: infrastructure

#2175 TSQL: Switch partition has been added to alter_table.
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_table.sql
Labels: example, tsql

#2168 Download ANTLR from Maven Central
  .github/workflows/main.yml
  _scripts/get-antlr.ps1
Labels: infrastructure

#2184 Adding MySQL 8 privileges
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/grant.sql
Labels: example, mysql-PositiveTechnologies

#2190 declarationStatement being interpreted as an expression
  cpp/CPP14Parser.g4
  cpp/examples/and_keyword.cpp.tree
  cpp/examples/attribute.cpp.tree
  cpp/examples/function_definitions_and_integers.cpp
  cpp/examples/function_definitions_and_integers.cpp.tree
  cpp/examples/helloworld.cpp.tree
  cpp/examples/macro.cpp.tree
  cpp/examples/no_return.cpp.tree
  cpp/examples/not_keyword.cpp.tree
  cpp/examples/or_keyword.cpp.tree
  cpp/examples/pointer_declaration_example.cpp
  cpp/examples/pointer_declaration_example.cpp.tree
  cpp/examples/test.cpp.tree
  cpp/examples/test1.cpp.tree
Labels: cpp, example

#2194 Added typescript cpp support
  javascript/typescript/Cpp/README.md
  javascript/typescript/Cpp/TypeScriptLexerBase.cpp
  javascript/typescript/Cpp/TypeScriptLexerBase.h
  javascript/typescript/Cpp/TypeScriptParserBase.cpp
  javascript/typescript/Cpp/TypeScriptParserBase.h
Labels: target:cpp, typescript

#2193 Remove duplicate alternatives from the `theOperator` in CPP grammar.
  cpp/CPP14Parser.g4
Labels: cpp

#2185 Fix mistakes in Swift grammar and add more examples
  swift/swift5/Swift5.g4
  swift/swift5/Swift5Lexer.g4
  swift/swift5/Swift5Parser.g4
  swift/swift5/examples/Package.swift
  swift/swift5/examples/Regex.swift
  swift/swift5/examples/RegexTests.swift
  swift/swift5/examples/StringExtension.swift
  swift/swift5/examples/StringExtensionTests.swift
  swift/swift5/examples/Utilities.swift
  swift/swift5/pom.xml
  swift/swift5/src/main/java/SwiftSupport.java
Labels: example, swift

#2198 TSQL: create_partition_function and create_partition_scheme
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/partition_function.sql
  sql/tsql/examples/partition_scheme.sql
Labels: example, tsql

#2200 TSQL: add_or_modify_files and add_or_modify_filegroups have been added
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_create_alter_database.sql
Labels: example, tsql

#2199 TSQL: extend security statement
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/security_statement.sql
Labels: example, tsql

#2195 Update webIDL
  _grammar-test/src/test/java/TestWebidl.java
  webidl/WebIDL.g4
  webidl/examples/document.idl
  webidl/examples/html_link_element.idl
Labels: WebIDL, example

#2217 Support for JSON functions
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: example, mysql-PositiveTechnologies

#2212 fix misspelled word: comparasion -> comparison
  sql/mysql/Positive-Technologies/MySqlParser.g4
Labels: mysql-PositiveTechnologies, typo

#2215 Fix a small and a major bug in the Go grammar
  golang/Antlr4cs/GoParserBase.cs
  golang/CSharp/GoParserBase.cs
  golang/Go/GoParser.g4
  golang/Go/go_parser_base.go
  golang/GoParser.g4
  golang/Java/GoParserBase.java
  golang/examples/statementlessLabel.go
  golang/examples/terminator.go
Labels: go
