Repository antlr/grammars-v4, pull requests merged in 2021-11, with the labels that each got.

#2377 DBZ-4174 DDL statement couldn't be parsed
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2380 DBZ-4229 CREATE PROCEDURE DDL throws ParsingException
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2383 DBZ-4246 Does Debezium support database using charset GB18030
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2378 merge alts & perf improvements
  sql/postgresql/PostgreSQLParser.g4
Labels: PostgreSQL

#2387 Issue 2386
  _scripts/readme.md
  _scripts/regtest.sh
  _scripts/templates/CSharp/Test.csproj
  _scripts/templates/Dart/cli.dart
  _scripts/templates/Dart/pubspec.yaml
  _scripts/templates/Go/makefile
  _scripts/templates/JavaScript/package.json
  _scripts/templates/Python3/requirements.txt
  java/java9/Dart/Java9LexerBase.dart
  unicode/graphemes/Graphemes.g4
Labels: dependencies

#2391 DBZ-4261 Support all charsets in MySQL parser
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2385 antlr4 4.93 and test plugin v19
  pom.xml
Labels: dependencies

#2392 Fix for Issue 2390--Add JavaScript testing.
  .github/workflows/main.yml
  _scripts/regtest.sh
  _scripts/skip-javascript.txt
  _scripts/skip-javascript.why
  _scripts/templates/JavaScript/test.sh
Labels: target:javascript, infrastructure

#2393 OBJ parser to pass all the documented examples
  wavefront/README.md
  wavefront/WavefrontOBJ.g4
  wavefront/examples/b1_14_bezier_in_u_direction_with_b_spline_in_v_direction_with_basis_matrix.txt
  wavefront/examples/b1_14_cubic_bezier_surface_with_basis_matrix.txt
  wavefront/examples/b1_14_hermite_curve_with_basis_matrix.txt
  wavefront/examples/b1_20_cube.txt
  wavefront/examples/b1_20_square.txt
  wavefront/examples/b1_21_cube_with_negative_reference_numbers.txt
  wavefront/examples/b1_27_taylor_curve.txt
  wavefront/examples/b1_28_bezier_curve.txt
  wavefront/examples/b1_29_b_spline_surface.txt
  wavefront/examples/b1_30_cardinal_surface.txt
  wavefront/examples/b1_31_rational_b_spline_surface.txt
  wavefront/examples/b1_32_trimmed_nurb_surface.txt
  wavefront/examples/b1_33_two_trimming_regions_with_hole.txt
  wavefront/examples/b1_35_trimming_with_special_curve.txt
  wavefront/examples/b1_36_trimming_with_special_points.txt
  wavefront/examples/b1_39_connectivity_between_two_surfaces.txt
  wavefront/examples/b1_43_cube_with_group_names.txt
  wavefront/examples/b1_44_two_adjoining_squares_with_smoothing_group.txt
  wavefront/examples/b1_45_two_adjoining_squares_with_vertex_normals.txt
  wavefront/examples/b1_46_merging_group.txt
  wavefront/examples/b1_55_cube_with_materials.txt
  wavefront/examples/b1_56_cube_casting_shadow.txt
  wavefront/examples/b1_57_cube_casting_reflection.txt
  wavefront/examples/b1_58_texture_mapped_square.txt
  wavefront/examples/b1_59_approximation_technique_for_surface.txt
  wavefront/examples/b1_60_approximation_technique_for_curve.txt
  wavefront/examples/b1_76_cardinal_curve.txt
  wavefront/examples/b1_76_cardinal_curve_old.txt
  wavefront/examples/b1_77_bezier_patch.txt
  wavefront/examples/b1_77_bezier_patch_old.txt
  wavefront/examples/example1.txt
Labels: example, obj

#2399 DBZ-4320 support for JSON function in MySQL index
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2402 Fix for Issue #2401 https://github.com/antlr/grammars-v4/issues/2401
  verilog/systemverilog/SystemVerilogLexer.g4
  verilog/systemverilog/SystemVerilogParser.g4
  verilog/systemverilog/pom.xml
Labels: system-verilog
