Repository antlr/grammars-v4, pull requests merged in 2021-08, with the labels that each got.

#2267 Add DEFAULT to partition option engine
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: example, mysql-PositiveTechnologies

#2275 Alloy
  alloy/README.md
  alloy/alloy.g4
  alloy/examples/fact.als
  alloy/examples/fs.als
  alloy/examples/sig.als
  alloy/pom.xml
  pom.xml
Labels: new-grammar, example

#2276 TSql: Review rule create_or_alter_ddl_trigger for multiple ddl_trigger_operation
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/triggers.sql
Labels: tsql, example

#2281 Fix confliction with c++ target
  sql/mysql/Positive-Technologies/MySqlParser.g4
Labels: mysql-PositiveTechnologies

#2284 TSqlParser : Alter table
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_table.sql
Labels: tsql, example

#2286 TSql: Sequence
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/sequences.sql
Labels: tsql, example

#2287 default value of a column could be a sequence
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_table.sql
Labels: tsql, example

#2291 Support AS clause in GRANT statement
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/grant.sql
Labels: mysql-PositiveTechnologies, example

#2293 JavascriptParser/TypeScriptParser: No trailing-comma for empty object
  javascript/javascript/JavaScriptParser.g4
  javascript/javascript/examples/ObjectInitializer.js
  javascript/jsx/JavaScriptParser.g4
  javascript/typescript/TypeScriptParser.g4
  javascript/typescript/examples/ObjectInitializer.ts
Labels: javascript, example, typescript

#2294 Set statement could have many keyboards on the same line
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/Set.sql
Labels: tsql, example

#2295 Added checkPoint statement
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/transactions.sql
Labels: tsql, example

#2296 Clustered index, NonClustered index, Columnstore and Fillfactor
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_index.sql
Labels: tsql, example

#2297 Declare variable as table type
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/statements.sql
Labels: tsql, example

#2311 Added linked server on table name and execute body
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/dml_select.sql
  sql/tsql/examples/statements.sql
Labels: tsql, example

#2313 Select next value of a sequence
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/dml_select.sql
Labels: tsql, example
