Repository antlr/grammars-v4, pull requests merged in 2021-09, with the labels that each got.

#2316 add SystemVerilog grammar
  pom.xml
  systemverilog/SystemVerilogLexer.g4
  systemverilog/SystemVerilogParser.g4
  systemverilog/examples/async_fifo.sv
  systemverilog/examples/ip_pkg.sv
  systemverilog/examples/rst_n_sync.sv
  systemverilog/pom.xml
Labels: new-grammar, example

#2318 Alter table constraint name is optional
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_table.sql
Labels: tsql, example

#2319 [SystemVerilog] Fix several errors in the grammar, add README
  systemverilog/README.md
  systemverilog/SystemVerilogLexer.g4
  systemverilog/SystemVerilogParser.g4
Labels: system-verilog

#2324 DBZ-3984 Mysql-Connector fails parsing invalid decimal format DDL statement
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2325 #2320 Merged SystemVerilog grammars
  pom.xml
  systemverilog/README.md
  verilog/pom.xml
  verilog/system_verilog/LICENSE
  verilog/system_verilog/README.md
  verilog/system_verilog/SysVerilogHDL.g4
  verilog/systemverilog/README.md
  verilog/systemverilog/SystemVerilogLexer.g4
  verilog/systemverilog/SystemVerilogParser.g4
  verilog/systemverilog/examples/async_fifo.sv
  verilog/systemverilog/examples/ip_pkg.sv
  verilog/systemverilog/examples/rst_n_sync.sv
  verilog/systemverilog/pom.xml
  verilog/verilog/Verilog2001.g4
  verilog/verilog/example1.txt
  verilog/verilog/examples/example1.v
  verilog/verilog/examples/example2.txt
  verilog/verilog/pom.xml
Labels: verilog, system-verilog

#2332 fix cql3 assignmentMap
  cql3/CqlParser.g4
  cql3/examples/insert.cql
Labels: example, cql

#2334 Alter index
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_index.sql
Labels: tsql, example

#2335 On update On delete on constraint could be swapped
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_table.sql
Labels: tsql, example

#2337 Union all in derived table
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_procedures.sql
Labels: tsql, example

#2338 Execute with string concatenation
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/statements.sql
Labels: tsql, example

#2336 External name assembly for functions
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_function.sql
Labels: tsql, example

#2340 Alter table constraint with nocheck
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_table.sql
Labels: tsql, example

#2343 Exec with local id
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/statements.sql
Labels: tsql, example

#2342 Alter index rebuild partition
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_index.sql
Labels: tsql, example

#2344 Union on sql insert
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/dml_insert.sql
Labels: tsql, example

#2341 Attempted to fix a crash of the Python3-Cpp on the first token. Becau…
  python/python3-cpp/Python3.g4
Labels: target:cpp, python3
