Repository antlr/grammars-v4, pull requests merged in 2021-12, with the labels that each got.

#2408 Add MySQL grant username to username syntax
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/grant.sql
Labels: mysql-PositiveTechnologies, example

#2413 Verilog 2001 -> 2005 + compiler directive parser
  _grammar-test/src/test/java/TestVerilog.java
  _scripts/skip-go.txt
  verilog/systemverilog/README.md
  verilog/systemverilog/examples/async_fifo.sv
  verilog/systemverilog/examples/ip_pkg.sv
  verilog/systemverilog/examples/rst_n_sync.sv
  verilog/systemverilog/pom.xml
  verilog/verilog/README.md
  verilog/verilog/Verilog2001.g4
  verilog/verilog/VerilogLexer.g4
  verilog/verilog/VerilogParser.g4
  verilog/verilog/VerilogPreprocessorParser.g4
  verilog/verilog/examples/compiler_directives.v
  verilog/verilog/examples/example1.v
  verilog/verilog/pom.xml
Labels: verilog, example

#2414 Allow omitting semicolon before closing parenthesis
  golang/Go/GoParser.g4
  golang/GoParser.g4
  golang/examples/imports.go
Labels: go

#2416 Fix empty init statements in Go control flow
  golang/Go/GoParser.g4
  golang/GoParser.g4
  golang/examples/empty_init.go
Labels: go, example

#2415 Support keyword CHAR SET for defining charset options
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2425 fix : add templateDepth and related methods in TypeScriptLexerBase for Cpp target
  javascript/typescript/Cpp/TypeScriptLexerBase.cpp
  javascript/typescript/Cpp/TypeScriptLexerBase.h
Labels: target:cpp, typescript

#2426 Fix for Issue 2411 (java grammars, ...)
  _scripts/skip-go.txt
  java/java8/Java8Parser.g4
  java/java9/Java9Parser.g4
  javascript/ecmascript/CSharp/ECMAScript.g4
  javascript/ecmascript/CSharpSharwell/ECMAScript.g4
  javascript/ecmascript/ECMAScript.g4
  javascript/ecmascript/JavaScript/ECMAScript.g4
  javascript/ecmascript/Python/ECMAScript.g4
  javascript/javascript/JavaScriptParser.g4
  javascript/jsx/JavaScriptParser.g4
  javascript/typescript/TypeScriptParser.g4
  kirikiri-tjs/TJSParser.g4
  pascal/pascal.g4
  php/PhpParser.g4
  protobuf3/Protobuf3.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
Labels: symbol-conflict

#2419 Fix for Issue #2418 (haskell)
  _scripts/skip-csharp.txt
  haskell/CSharp/HaskellBaseLexer.cs
  haskell/CSharp/StackQueue.cs
  haskell/HaskellLexer.g4
  haskell/Java/HaskellBaseLexer.java
Labels: haskell

#2427 fixed macro_usage parsing issue
  _grammar-test/src/test/java/TestVerilog.java
  verilog/verilog/VerilogLexer.g4
  verilog/verilog/VerilogParser.g4
  verilog/verilog/VerilogPreprocessorParser.g4
  verilog/verilog/examples/compiler_directives.v
Labels: verilog

#2429 Asl parser
  asl/ASL.g4
  asl/examples/assignments
  asl/examples/comment
  asl/examples/creates
  asl/examples/events
  asl/examples/finds
  asl/examples/for
  asl/examples/if
  asl/examples/if_2
  asl/examples/inline
  asl/examples/loop
  asl/examples/loop_2
  asl/examples/operations
  asl/examples/relationships
  asl/examples/set_operation
  asl/examples/structures
  asl/examples/switch
  asl/examples/timer
  asl/pom.xml
  asl/readme.md
  pom.xml
Labels: new-grammar, example, asl

#2447 fix for #2440
  java/java/JavaParser.g4
  java/java/examples/AllInOne8.java
Labels: java, example

#2450 Itn
  itn/README.md
  itn/examples/example1.txt
  itn/itn.g4
  itn/pom.xml
  pom.xml
Labels: new-grammar, example

#2449 Argus
  argus/README.md
  argus/argus-manual.pdf
  argus/argus.g4
  argus/pom.xml
  pom.xml
Labels: new-grammar, example

#2455 fix #2454
  java/java/JavaParser.g4
  java/java/examples/AllInOne8.java
Labels: java, example

#2453 DBZ-4497 Parse multiple signed/unsigned keyword from ddl statement failed
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2451 Dif
  dif/README.md
  dif/dif.g4
  dif/examples/example1.txt
  dif/pom.xml
  pom.xml
Labels: new-grammar, example

#2456 java 11 upgrade - #1972
  java/java/JavaLexer.g4
  java/java/JavaParser.g4
  java/java/examples/AllInOne11.java
  java/java/examples/module-info.java
Labels: java, example

#2461 Cayenne
  cayenne/README.md
  cayenne/cayenne.g4
  cayenne/pom.xml
  pom.xml
Labels: new-grammar, example, cayenne

#2463 bcl
  bcl/README.md
  bcl/bcl.g4
  bcl/pom.xml
  pom.xml
Labels: new-grammar, bcl

#2464 java 17 upgrade
  java/java/JavaLexer.g4
  java/java/JavaParser.g4
  java/java/README.md
  java/java/examples/AllInOne17.java
Labels: java, example
