Repository antlr/grammars-v4, pull requests merged in 2022-07, with the labels that each got.

#2693 SQL/T-SQL: no longer requires special case treatment
  _grammar-test/src/test/java/TestTsql.java
  sql/tsql/README.md
Labels: tsql

#2692 SQL/T-SQL: Add support for PARSE and TRY_PARSE functions
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/parse.sql
  sql/tsql/examples/try_parse.sql
Labels: tsql, example

#2691 Add placeholders of parameters to T-SQL grammar for prepared statements
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/parameters.sql
Labels: tsql, example

#2696 [TSql] Fix DROP TABLE with several tables
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/drop.sql
Labels: tsql, example

#2697 [TSql] raiserror accepts null as arguments
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/raiseerror.sql
Labels: tsql, example

#2700 Modify hiveParser's expression rules to implement AND/OR priority
  sql/hive/v2/IdentifiersParser.g4
  sql/hive/v3/IdentifiersParser.g4
Labels: hive

#2702 Tsql additional Sybase (legacy) support
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_procedures.sql
  sql/tsql/examples/dml_select.sql
Labels: tsql

#2698 [TSql] Synchronize keywords
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/keywords_as_id.sql
  sql/tsql/examples/keywords_reserved.sql
  sql/tsql/examples/keywords_reserved.sql.errors
Labels: tsql, example

#2707 [TSql] Fix replace built-in parsing (fix #2706)
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/replace.sql
Labels: tsql, example

#2710 T-SQL: Complete grammar on indexes
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_index.sql
  sql/tsql/examples/ddl_table.sql
Labels: tsql, example

#2711 T-SQL: fix bracketed types with MAX (fix #2282)
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/issue_2282.sql
Labels: tsql, example

#2714 Reorder relational_property definition to give priority to out_of_line_constraint
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: plsql, example

#2718 [TSql] Fix grammar for constraints
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_create_table.sql
  sql/tsql/examples/ddl_table.sql
Labels: tsql, example

#2716 Support for `TRIM` function has been added.
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/keywords_as_id.sql
Labels: tsql, example

#2723 EVM bytecode G4 grammar
  LICENSE.md
  evm-bytecode/EVMBLexer.g4
  evm-bytecode/EVMBParser.g4
  evm-bytecode/README.md
  evm-bytecode/examples/0xcDA72070E455bb31C7690a170224Ce43623d0B6f
  evm-bytecode/pom.xml
  pom.xml
Labels: new-grammar, example, evm

#2728 Fortify Lua grammar to fix related parse issues
  lua/Lua.g4
  lua/examples/factorial.lua
  lua/examples/helloworld.lua
  lua/examples/tabWidth.lua
Labels: lua

#2717 fix attrs define
  sql/plsql/examples/comment_on.sql
  sql/postgresql/PostgreSQLParser.g4
  sql/postgresql/examples/alter_table.sql
Labels: example, PostgreSQL

#2733 TSQL: OVER clause was added for sequence
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/dml_select.sql
Labels: tsql, example
