Repository antlr/grammars-v4, pull requests merged in 2022-03, with the labels that each got.

#2534 Added Grammar for KLEE KQuery Language.
  _scripts/skip-php.txt
  kquery/KQuery.g4
  kquery/README.md
  kquery/examples/test1.kquery
  kquery/examples/test2.kquery
  kquery/examples/test3.kquery
  kquery/examples/test4.kquery
  kquery/examples/test5.kquery
  kquery/examples/test6.kquery
  kquery/examples/test7.kquery
  kquery/examples/test8.kquery
  kquery/pom.xml
  pom.xml
Labels: new-grammar, example

#2544 Cql3 fixes
  cql3/CqlParser.g4
Labels: cql

#2543 DBZ-4841 Debezium Mysql connector can't handle CREATE INDEX IF NOT EXISTS (MariaDB)
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2546 fix several issues in Verilog grammars
  verilog/systemverilog/SystemVerilogLexer.g4
  verilog/systemverilog/SystemVerilogParser.g4
  verilog/systemverilog/SystemVerilogPreParser.g4
  verilog/verilog/VerilogLexer.g4
  verilog/verilog/VerilogParser.g4
  verilog/verilog/VerilogPreParser.g4
  verilog/verilog/examples/udp_lfsr.v
Labels: verilog, example, system-verilog

#2553 [MySQL] Allow ANALYZE TABLES statement in MySQL grammar
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/analyze.sql
Labels: mysql-PositiveTechnologies, example

#2554 [MySQL] Allow `ON` as an expression value
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2562 [MySQL] Support `OR REPLACE` when creating trigger
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example
