Repository antlr/grammars-v4, pull requests merged in 2022-01, with the labels that each got.

#2466 fix for #1897 and minor example fixes
  java/java/JavaParser.g4
  java/java/README.md
  java/java/examples/AllInOne17.java
  java/java/examples/AllInOne8.java
Labels: java, example

#2469 Fix the problem in README of objc
  objc/README.md
Labels: objective-c

#2471 tsql - Add Azure Synapse Analytics specific options for CREATE TABLE
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/azure_synapse_analytics.sql
Labels: tsql, example

#2395 PostgreSQL - Making grammar language-agnostic + c#/java support, standard tests
  _scripts/skip-csharp.txt
  _scripts/skip-java.txt
  sql/postgresql/CSharp/PostgreSQLLexerBase.cs
  sql/postgresql/CSharp/PostgreSQLParserBase.cs
  sql/postgresql/Java/PostgreSQLLexerBase.java
  sql/postgresql/Java/PostgreSQLParseError.java
  sql/postgresql/Java/PostgreSQLParserBase.java
  sql/postgresql/Java/PostgreSQLParserErrorListener.java
  sql/postgresql/PostgreSQLLexer.g4
  sql/postgresql/PostgreSQLParser.g4
  sql/postgresql/README.md
  sql/postgresql/examples.errors/collate_icu_utf8.sql
  sql/postgresql/examples.errors/collate_linux_utf8.sql
  sql/postgresql/examples.errors/copy2.sql
  sql/postgresql/examples.errors/create_am.sql
  sql/postgresql/examples.errors/errors.sql
  sql/postgresql/examples.errors/psql.sql
  sql/postgresql/examples.errors/strings.sql
  sql/postgresql/examples.errors/tablesample.sql
  sql/postgresql/examples.errors/triggers.sql
  sql/postgresql/examples.errors/tuplesort.sql
  sql/postgresql/examples.errors/txid.sql
  sql/postgresql/examples.errors/xid.sql
  sql/postgresql/examples.errors/xml.sql
  sql/postgresql/examples/insert_conflict.sql
  sql/postgresql/examples/readme.md
  sql/postgresql/pom.xml
Labels: PostgreSQL

#2491 DBZ-4640 Parse including keyword column table ddl error
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example
