Repository antlr/grammars-v4, pull requests merged in 2022-05, with the labels that each got.

#2601 Fix naming problems with sqlite parser.
  sql/sqlite/SQLiteParser.g4
Labels: sqlite

#2599 Support IF EXISTS in DROP FOREIGN KEY expression
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_alter.sql
Labels: mysql-PositiveTechnologies, example

#2602 Updates to php/ grammar for case insensitive option in grammar
  _scripts/skip-csharp.txt
  _scripts/skip-java.txt
  php/CSharp/PhpLexerBase.cs
  php/PhpLexer.g4
  php/PhpParser.g4
  php/examples/identifiers.php
Labels: php, target:csharp-standard

#2606 [CI build] Update trgen version for parsing Antlr 4.10 grammars
  .github/workflows/main.yml
  _scripts/really-run.ps1
  _scripts/regtest.sh
Labels: infrastructure

#2615 [csharp grammar/Java target] Fix issue 2612
  _scripts/skip-csharp.txt
  csharp/Java/CSharpParserBase.java
  csharp/examples/issue-2612.txt
  csharp/examples/issue-2612.txt.errors
Labels: csharp, target:java

#2618 [scss] Set of backwards compatible bugfixes for SCSS grammar
  scss/ScssLexer.g4
  scss/ScssParser.g4
  scss/examples/example1.txt
  scss/testsrc/test/java/TestBasicCss.java
  scss/testsrc/test/java/TestConditionals.java
  scss/testsrc/test/java/TestImports.java
  scss/testsrc/test/java/TestListAndMap.java
  scss/testsrc/test/java/TestMedia.java
  scss/testsrc/test/java/TestMixinAndInclude.java
Labels: example, scss

#2620 [CSS3] Adding license file
  css3/LICENSE.md
Labels: license, css

#2621 DBZ-5121 Support if not exists/if exists key words in alter table statement
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_alter.sql
Labels: mysql-PositiveTechnologies, example

#2557 Added base classes to parse Python code with `python/python` grammar in Python
  python/python/Python/PythonLexerBase.py
  python/python/Python/PythonParserBase.py
Labels: python2, target:python3, python3

#2625 javascript: enable yield in non strict mode
  javascript/javascript/JavaScriptLexer.g4
Labels: javascript

#2623 Add wren grammar
  _scripts/skip-php.txt
  pom.xml
  wren/README.md
  wren/WrenLexer.g4
  wren/WrenParser.g4
  wren/examples/binary_tree.wren
  wren/examples/binary_tree_gc.wren
  wren/examples/call.wren
  wren/examples/call_wren_root.wren
  wren/examples/delta_blue.wren
  wren/examples/error.wren
  wren/examples/get_variable.wren
  wren/examples/method_call.wren
  wren/pom.xml
Labels: new-grammar, example

#2628 Support `CREATE OR REPLACE TABLE` syntax
  sql/mysql/Positive-Technologies/MySqlParser.g4
Labels: mysql-PositiveTechnologies

#2630 rust: update to v1.60.0 features
  rust/README.md
  rust/RustLexer.g4
  rust/RustParser.g4
  rust/examples/v1_46_0_split_float_literal.rs.tree
  rust/examples/v1_53_0_or_pattern.rs
  rust/examples/v1_53_0_unicode_identifier.rs
  rust/examples/v1_56_0_open_range.rs
Labels: rust

#2632 java11
  pom.xml
Labels: infrastructure

#2633 Add Lucene grammar
  _scripts/skip-php.txt
  lucene/LuceneLexer.g4
  lucene/LuceneParser.g4
  lucene/examples/boolean-1.txt
  lucene/examples/boolean-2.txt
  lucene/examples/boolean-3.txt
  lucene/examples/boolean-4.txt
  lucene/examples/boolean-5.txt
  lucene/examples/boolean-6.txt
  lucene/examples/boolean-7.txt
  lucene/examples/boosting-1.txt
  lucene/examples/boosting-2.txt
  lucene/examples/boosting-3.txt
  lucene/examples/escaping-1.txt
  lucene/examples/field-1.txt
  lucene/examples/field-2.txt
  lucene/examples/field-3.txt
  lucene/examples/fuzzy-1.txt
  lucene/examples/fuzzy-2.txt
  lucene/examples/grouping-1.txt
  lucene/examples/grouping-2.txt
  lucene/examples/proximity-1.txt
  lucene/examples/range-1.txt
  lucene/examples/range-2.txt
  lucene/examples/wildcard-1.txt
  lucene/examples/wildcard-2.txt
  lucene/examples/wildcard-3.txt
  lucene/pom.xml
  pom.xml
Labels: new-grammar, example
