Repository antlr/grammars-v4, pull requests merged in 2022-10, with the labels that each got.

#2851 Datalog
  datalog/README.md
  datalog/datalog.g4
  datalog/examples/example1.txt
  datalog/examples/example2.txt
  datalog/examples/example3.txt
  datalog/examples/example4.txt
  datalog/pom.xml
  pom.xml
Labels: new-grammar, example, datalog

#2853 Pbm
  pbm/README.md
  pbm/examples/example1.txt
  pbm/pbm.g4
  pbm/pom.xml
  pom.xml
Labels: new-grammar, example, pbm

#2856 wheel
  pom.xml
  wheel/README.md
  wheel/examples/example1.txt
  wheel/examples/example2.txt
  wheel/examples/example3.txt
  wheel/pom.xml
  wheel/wheel.g4
Labels: new-grammar, example, wheel

#2855 Implement full .errors verification in tests
  _scripts/skip-csharp.txt
  _scripts/skip-csharp.why
  _scripts/skip-javascript.txt
  _scripts/skip-javascript.why
  _scripts/skip-php.txt
  _scripts/skip-php.why
  _scripts/templates/Antlr4cs/ErrorListener.cs
  _scripts/templates/Antlr4cs/Program.cs
  _scripts/templates/Antlr4cs/test.sh
  _scripts/templates/Antlr4cs/tester.psm1
  _scripts/templates/CSharp/ErrorListener.cs
  _scripts/templates/CSharp/Program.cs
  _scripts/templates/CSharp/test.sh
  _scripts/templates/CSharp/tester.psm1
  _scripts/templates/Cpp/ErrorListener.cpp
  _scripts/templates/Cpp/Program.cpp
  _scripts/templates/Cpp/test.sh
  _scripts/templates/Dart/cli.dart
  _scripts/templates/Dart/test.sh
  _scripts/templates/Dart/tester.psm1
  _scripts/templates/Go/Test.go
  _scripts/templates/Go/test.sh
  _scripts/templates/Go/tester.psm1
  _scripts/templates/Java/ErrorListener.java
  _scripts/templates/Java/Program.java
  _scripts/templates/Java/test.sh
  _scripts/templates/Java/tester.psm1
  _scripts/templates/JavaScript/index.js
  _scripts/templates/JavaScript/test.sh
  _scripts/templates/JavaScript/tester.psm1
  _scripts/templates/PHP/Test.php
  _scripts/templates/PHP/test.sh
  _scripts/templates/PHP/tester.psm1
  _scripts/templates/Python3/Program.py
  _scripts/templates/Python3/test.sh
  _scripts/templates/Python3/tester.psm1
Labels: infrastructure

#2862 DBZ-5674 Invalid DDL statement could not be parsed crashes kafka-connect for MySql
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2865 DBZ-5679 Function DATE_ADD can be used as an identifier
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2869 Fixed incorrect records parsing including testcase
  java/java/JavaParser.g4
  java/java/examples/RecordsTesting.java
  java/java/examples/RecordsTesting.java.tree
Labels: java, example

#2876 DBZ-5708 MySqlConnector parse create view statement failed
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2877 ron
  pom.xml
  ron/README.md
  ron/examples/example1.txt
  ron/examples/example2.txt
  ron/examples/example3.txt
  ron/pom.xml
  ron/ron.g4
Labels: new-grammar, example, ron

#2879 lisp
  lisp/README.md
  lisp/lisp.g4
  lisp/pom.xml
  pom.xml
Labels: new-grammar, example, lisp

#2881 Indexing workflow is not working. Find out why.
  _scripts/reindex.sh
Labels: infrastructure

#2886 Add `PRIMARY` as keyword to MySQL grammar to fix index hints
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: mysql-PositiveTechnologies, example

#2889 Fix issues in Verilog grammars
  verilog/systemverilog/SystemVerilogLexer.g4
  verilog/systemverilog/SystemVerilogParser.g4
  verilog/systemverilog/SystemVerilogPreParser.g4
  verilog/verilog/VerilogLexer.g4
  verilog/verilog/VerilogParser.g4
  verilog/verilog/VerilogPreParser.g4
Labels: verilog

#2891 snowflake db grammar
  grammars.json
  sql/pom.xml
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/alter.sql
  sql/snowflake/examples/create.sql
  sql/snowflake/examples/describe.sql
  sql/snowflake/examples/drop.sql
  sql/snowflake/examples/other.sql
  sql/snowflake/examples/select.sql
  sql/snowflake/examples/show.sql
  sql/snowflake/examples/undrop.sql
  sql/snowflake/examples/use.sql
  sql/snowflake/pom.xml
Labels: new-grammar, example, snowflake

#2894 apache derby grammar
  grammars.json
  sql/derby/DerbyLexer.g4
  sql/derby/DerbyParser.g4
  sql/derby/examples/create.sql
  sql/derby/examples/dml.sql
  sql/derby/examples/drop.sql
  sql/derby/examples/other.sql
  sql/derby/examples/select.sql
  sql/derby/pom.xml
  sql/pom.xml
Labels: new-grammar, example, derby

#2895 #2797
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/drop_synonym01.sql
Labels: plsql, example

#2898 added alter synonym
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_synonym01.sql
Labels: plsql, example

#2899 derby grammar PR comments
  sql/derby/DerbyLexer.g4
  sql/derby/DerbyParser.g4
Labels: derby

#2900 Add extend option
  protobuf3/Protobuf3.g4
Labels: protobuf

#2903 Enhance properties lexer / parser
  properties/PropertiesLexer.g4
  properties/PropertiesParser.g4
  properties/README.md
  properties/examples/example1.txt
  properties/pom.xml
  properties/properties.g4
Labels: example, properties
