Repository antlr/grammars-v4, pull requests merged in 2022-02, with the labels that each got.

#2494 Add drop column support for SQLite
  sql/sqlite/SQLiteParser.g4
  sql/sqlite/examples/alter-table-drop-column.sql
Labels: sqlite, example

#2497 Move the grammar closer to the actual grammar used in parser.go
  golang/CSharp/GoParserBase.cs
  golang/Go/GoParser.g4
  golang/Go/go_parser_base.go
  golang/GoLexer.g4
  golang/GoParser.g4
  golang/Java/GoParserBase.java
  golang/examples/newline.go
Labels: go, example

#2499 fix hex float
  golang/GoLexer.g4
  golang/examples/float.go
Labels: go, example

#2505 Add the missing ADMIN and OPTIONAL tokens to MySqlLexer
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/grant.sql
Labels: mysql-PositiveTechnologies

#2509 DBZ-4707 MySQL unparseable DDL - CREATE PROCEDURE
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2504 Fix typo in SQLite parser that caused an unexpected recursive rule
  sql/sqlite/SQLiteParser.g4
Labels: sqlite
