Repository antlr/grammars-v4, pull requests merged in 2022-08, with the labels that each got.

#2742 DBZ-5485 Support wait/nowait clause in mariadb
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_alter.sql
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
  sql/mysql/Positive-Technologies/examples/ddl_drop.sql
  sql/mysql/Positive-Technologies/examples/dml_select.sql
  sql/mysql/Positive-Technologies/examples/optimize.sql
Labels: mysql-PositiveTechnologies, example

#2746 Split concatenation into "normal" and "blank" concatenation
  rexx/RexxLexer.g4
  rexx/RexxParser.g4
  rexx/examples/test_concatenation.rex
Labels: example

#2749 DBZ-5499 Mysql connector parser the ddl statement failed when including keyword "buckets"
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2732 TSQL: An ability for multiple options for json was added.
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/json_data_type.sql
Labels: tsql, example

#2726 TSql: Fix column definition and indexes
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_create_table.sql
  sql/tsql/examples/keywords_as_id.sql
Labels: tsql, example

#2753 DBZ-5505 My connector parse the mariadb relevant sequence statement failed
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_alter.sql
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
  sql/mysql/Positive-Technologies/examples/ddl_drop.sql
Labels: mysql-PositiveTechnologies, example

#2754 DBZ-5508 DDL statement couldn't be parsed : mismatched input 'ENGINE'
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2752 Add Dart2LexerBase.dart for the `dart2` grammar
  _scripts/skip-dart.txt
  dart2/Dart/Dart2LexerBase.dart
Labels: dart, target:dart

#2764 TSql: add support for update statistics
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/keywords_as_id.sql
  sql/tsql/examples/update_statistics.sql
Labels: tsql, example

#2727 TSql: add system built-in functions
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/built_in_functions_system.sql
  sql/tsql/examples/keywords_as_id.sql
Labels: tsql, example

#2762 Fix for issue #2749 -- "go get" connection link errors
  _scripts/regtest.sh
  _scripts/templates/Go/makefile
  _scripts/templates/Go/tester.psm1
Labels: infrastructure

#2761 [Hive grammer] Fix the priority problem of 'BETWEEN AND' and 'AND'
  sql/hive/v3/IdentifiersParser.g4
Labels: hive

#2766 T-SQL: add support for metadata built-in functions
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/built_in_functions_metadata.sql
  sql/tsql/examples/dml_select.sql
  sql/tsql/examples/keywords_as_id.sql
Labels: tsql, example

#2769 [rexx] Parse hexstrings and binarystrings correctly per ANSI standard.
  rexx/RexxLexer.g4
  rexx/RexxParser.g4
  rexx/examples/test_bitstring.rex
  rexx/examples/test_bitstring.rex.tree
  rexx/examples/test_concatenation.rex.tree
  rexx/pom.xml
Labels: example, rexx

#2731 Updated PHP Grammar Documentation about Python Runtimes
  _scripts/skip-python3.txt
  php/Python/README.md
  php/Python/transformGrammar.py
  php/Python3/PhpLexerBase.py
  php/Python3/README.md
  php/Python3/transformGrammar.py
  php/README.md
Labels: php

#2776 Update README.md
  javascript/typescript/README.md
Labels: javascript

#2775 [PromQL] support group modifiers with no labels
  promql/PromQLParser.g4
  promql/examples/join4.txt
Labels: promql

#2773 Support PLSQL JSON-based CHECK constraints
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: plsql, example

#2777 Add PASSWORDLESS_USER_ADMIN privilege
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/grant.sql
Labels: mysql-PositiveTechnologies, example

#2772 sqlite: simplify RENAME TABLE rule and assign new name to context
  sql/sqlite/SQLiteParser.g4
Labels: sqlite

#2780 TSql: fix grammar for hints
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/hints.sql
  sql/tsql/examples/hints.sql.tree
  sql/tsql/examples/keywords_as_id.sql
Labels: tsql, example

#2783 [PromQL] support last_over_time aggregation
  promql/PromQLLexer.g4
  promql/examples/aggregation3.txt
Labels: example, promql

#2781 TSql: Fix grammar for xml functions
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/xml_data_type.sql
  sql/tsql/examples/xml_data_type.sql.tree
Labels: tsql, example

#2784 T-SQL: Checkout example files with LF to fix tree tests
  .gitattributes
Labels: tsql

#2788 Closes #2787
  vba/examples/example5property.bas
  vba/examples/example6dateliteral.bas
  vba/vba.g4
Labels: vb, example
