Repository antlr/grammars-v4, pull requests merged in 2022-04, with the labels that each got.

#2574 Partial upgrade to Antlr 4.10 -- Maven tests
  .gitignore
  antlr/antlr3/ANTLRv3Lexer.g4
  golang/Go/GoParser.g4
  golang/GoParser.g4
  kotlin/kotlin-formal/KotlinParser.g4
  pom.xml
  v/V.g4
Labels: infrastructure

#2577 Support CTE with create view statement in MySQL parser
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#2587 Extend Oracle references_clause
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_table.sql
Labels: mysql-PositiveTechnologies, example

#2511 improve dependabot config
  .github/dependabot.yml
Labels: infrastructure

#2585 support Protobuf v2
  pom.xml
  protobuf2/Protobuf2.g4
  protobuf2/README.md
  protobuf2/examples/demo.proto
  protobuf2/pom.xml
Labels: new-grammar, protobuf

#2593 fix(sql/tsql): add support for GROUPING SETS
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
Labels: tsql, example
