Repository antlr/grammars-v4, pull requests merged in 2022-12, with the labels that each got.

#2920 Generate grammars.json, but leave as artifact.
  .github/workflows/reindex.yml
  _scripts/reindex.sh
Labels: infrastructure

#2938 add support of (create | drop) library
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_library.sql
  sql/plsql/examples/drop_library.sql
Labels: plsql, example

#2943 Add support of alter rollback segment
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_rollback_segment.sql
Labels: plsql, example

#2941 add g4 for parse Circonus CaQL expressions
  caql/CaQLLexer.g4
  caql/CaQLParser.g4
  caql/Metrics.g4
  caql/SampleData.txt
  caql/examples/SampleData.txt
  caql/pom.xml
  caql/readme.md
  pom.xml
Labels: new-grammar

#2946 #2937 fix
  sql/sqlite/SQLiteParser.g4
  sql/sqlite/examples/frame_spec_2937.sql
Labels: sqlite, example

#2945 [MySql] DBZ-5904 Suppport INSERT INTO statements with dots in column names
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_insert.sql
Labels: mysql-PositiveTechnologies, example

#2957 #2874 - yara grammar and test
  pom.xml
  yara/YaraLexer.g4
  yara/YaraParser.g4
  yara/examples/test.yar
  yara/pom.xml
Labels: new-grammar, example, yara

#2958 Add GLSL grammar
  _scripts/skip-cpp.txt
  _scripts/skip-go.txt
  _scripts/skip-php.txt
  glsl/GLSLLexer.g4
  glsl/GLSLParser.g4
  glsl/GLSLPreParser.g4
  glsl/README.md
  glsl/examples/checkers.glsl
  glsl/examples/siren.glsl
  glsl/examples/stripes.glsl
  glsl/pom.xml
  pom.xml
Labels: new-grammar, example, glsl

#2955 Add support of create rollback segment
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_rollback_segment.sql
Labels: plsql, example

#2942 Removing specific MariaDB grammar
  _scripts/skip-go.txt
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_alter.sql
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
  sql/mysql/Positive-Technologies/examples/ddl_drop.sql
  sql/mysql/Positive-Technologies/examples/dml_select.sql
  sql/mysql/Positive-Technologies/examples/optimize.sql
Labels: mysql-PositiveTechnologies, example

#2962 Protobuf3 grammar: support optional field
  protobuf3/Protobuf3.g4
  protobuf3/examples/example.proto
Labels: protobuf

#2940 MariaDB grammar
  _scripts/skip-javascript.txt
  _scripts/skip-php.txt
  _scripts/skip-python3.txt
  sql/mariadb/MariaDBLexer.g4
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/README.md
  sql/mariadb/examples/analyze.sql
  sql/mariadb/examples/bitrix_queries_cut.sql
  sql/mariadb/examples/case_sensitive_sql.sql
  sql/mariadb/examples/ddl_alter.sql
  sql/mariadb/examples/ddl_create.sql
  sql/mariadb/examples/ddl_drop.sql
  sql/mariadb/examples/ddl_flush.sql
  sql/mariadb/examples/dml_delete.sql
  sql/mariadb/examples/dml_insert.sql
  sql/mariadb/examples/dml_replace.sql
  sql/mariadb/examples/dml_select.sql
  sql/mariadb/examples/dml_test_arithmetic_expression.sql
  sql/mariadb/examples/dml_union.sql
  sql/mariadb/examples/dml_update.sql
  sql/mariadb/examples/ext_tests.sql
  sql/mariadb/examples/grant.sql
  sql/mariadb/examples/kill.sql
  sql/mariadb/examples/mysql_spec_comment.sql
  sql/mariadb/examples/optimize.sql
  sql/mariadb/examples/smoke_tests.sql
  sql/mariadb/pom.xml
  sql/pom.xml
Labels: new-grammar, mariadb

#2964 #2314 - as as an id
  javascript/javascript/JavaScriptParser.g4
  javascript/javascript/examples/VarDecl.js
Labels: javascript, example

#2961 Apache Phoenix - grammar and test
  sql/phoenix/PhoenixLexer.g4
  sql/phoenix/PhoenixParser.g4
  sql/phoenix/README.md
  sql/phoenix/examples/ddl.sql
  sql/phoenix/examples/dml.sql
  sql/phoenix/examples/other.sql
  sql/phoenix/pom.xml
  sql/pom.xml
Labels: new-grammar, example, phoenix

#2965 #2538 non null assert op
  javascript/typescript/TypeScriptParser.g4
  javascript/typescript/examples/NonNullAssertOp.js
Labels: example, typescript

#2963 #1228 - ArangoDb - grammar and tests
  aql/ArangoDbLexer.g4
  aql/ArangoDbParser.g4
  aql/README.md
  aql/examples/access.aql
  aql/examples/access_arr.aql
  aql/examples/access_null.aql
  aql/examples/access_str.aql
  aql/examples/access_str2.aql
  aql/examples/collect_1.aql
  aql/examples/collect_2.aql
  aql/examples/collect_3.aql
  aql/examples/collect_4.aql
  aql/examples/for.aql
  aql/examples/insert_1.aql
  aql/examples/insert_2.aql
  aql/examples/let_1.aql
  aql/examples/let_2.aql
  aql/examples/remove_1.aql
  aql/examples/remove_2.aql
  aql/examples/replace_1.aql
  aql/examples/search_1.aql
  aql/examples/update_1.aql
  aql/examples/upsert_1.aql
  aql/examples/window_1.aql
  aql/examples/window_2.aql
  aql/examples/window_3.aql
  aql/examples/window_4.aql
  aql/pom.xml
  pom.xml
Labels: new-grammar

#2968 Fix build for aql grammar/PHP target.
  _scripts/skip-php.txt
Labels: php

#2935 sql/sqlite: formatting sql2.sql
  sql/sqlite/examples/sql2.sql
Labels: sqlite

#2966 Give the various `expr`s in `select_core` labels.
  sql/sqlite/SQLiteParser.g4
Labels: sqlite

#2971 Add JsonTable support for MySql/MariaDB
  sql/mariadb/MariaDBLexer.g4
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/examples/dml_select.sql
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: mysql-PositiveTechnologies, example

#2980 Allow escapes in template strings
  javascript/typescript/TypeScriptLexer.g4
  javascript/typescript/TypeScriptParser.g4
  javascript/typescript/examples/TemplateStrings.js
Labels: example, typescript

#2979 ada 95 - grammar and basic test
  ada/ada95/Ada95Lexer.g4
  ada/ada95/Ada95Parser.g4
  ada/ada95/examples/pkg1.adb
  ada/ada95/examples/pkg1.ads
  ada/ada95/pom.xml
  ada/ada95/readme.md
  ada/pom.xml
Labels: ada
