Repository antlr/grammars-v4, pull requests merged in 2023-11, with the labels that each got.

#3806 Revert "[javascript] fix problem with continue/break/return statements #3772"
  javascript/javascript/CSharp/JavaScriptParserBase.cs
  javascript/javascript/Cpp/JavaScriptParserBase.cpp
  javascript/javascript/Cpp/JavaScriptParserBase.h
  javascript/javascript/Go/javascript_parser_base.go
  javascript/javascript/Java/JavaScriptParserBase.java
  javascript/javascript/JavaScript/JavaScriptParserBase.js
  javascript/javascript/JavaScriptParser.g4
  javascript/javascript/Python3/JavaScriptParserBase.py
  javascript/javascript/examples/issue3772ContinueStatement.js
  javascript/javascript/examples/issue3772ContinueStatement.js.tree
Labels: javascript, example

#3804 [MySql][Bug] The MySqlParser.g4 parser has a priority problem
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/expressions.sql
  sql/mysql/Positive-Technologies/examples/expressions.sql.tree
Labels: mysql-PositiveTechnologies, example

#3811 [PlSql] Break out unary_logical_operation rule
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples-sql-script/logical_expressions.sql
Labels: plsql, example

#3813 Allow empty column list in INSERT
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_insert.sql
Labels: mysql-PositiveTechnologies, example

#3788 snowflake - warehouse new features
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/ids.sql
  sql/snowflake/examples/warehouse.sql
Labels: example, snowflake

#3818 [PlSql] Handle procedure_spec before variable_declaration
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples-sql-script/declare_procedure_no_args.sql
Labels: plsql, example

#3830 [javascript] support for the nullish coalescing assignment (??=) operator
  javascript/javascript/JavaScriptLexer.g4
  javascript/javascript/JavaScriptParser.g4
  javascript/javascript/examples/Misc.js
Labels: javascript, example

#3825 [Snowflake] cast expr
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/select.sql
Labels: snowflake

#3828 [pcre] fix quoting bug
  pcre/PCRE.g4
Labels: pcre

#3834 Added modify range_partitions to modify_table_partition rule
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_table_modify_partition_by_range.sql
Labels: plsql

#3740 [dart2] Add ports, readme.md, clean up testing
  dart2/CSharp/Dart2LexerBase.cs
  dart2/Cpp/Dart2LexerBase.cpp
  dart2/Cpp/Dart2LexerBase.h
  dart2/Cpp/transformGrammar.py
  dart2/Dart/Dart2LexerBase.dart
  dart2/Dart2Lexer.g4
  dart2/Dart2Parser.g4
  dart2/Go/dart2_lexer_base.go
  dart2/Go/transformGrammar.py
  dart2/Java/Dart2LexerBase.java
  dart2/JavaScript/Dart2LexerBase.js
  dart2/Python3/Dart2LexerBase.py
  dart2/Python3/transformGrammar.py
  dart2/TypeScript/Dart2LexerBase.ts
  dart2/desc.xml
  dart2/readme.md
Labels: dart

#3845 snowflake - new features and tags test
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/tables.sql
  sql/snowflake/examples/tags.sql
Labels: example, snowflake

#3858 [MySql] Support convert to double/float type for cast/convert function
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_alter.sql
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#3857 Fix #3856 -- add PHP environment setup and test to workflow
  .github/workflows/main.yml
Labels: infrastructure, target:php
