Repository antlr/grammars-v4, pull requests merged in 2023-03, with the labels that each got.

#3156 plsql - ddl for outline
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_outline.sql
  sql/plsql/examples/create_outline.sql
  sql/plsql/examples/drop_outline.sql
Labels: plsql, example

#3154 plsql - ddl for inmemory join group
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_inmemory_join_group.sql
  sql/plsql/examples/create_inmemory_join_group.sql
  sql/plsql/examples/drop_inmemory_join_group.sql
Labels: plsql, example

#3150 [PlSql] Support of alter operator
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_operator.sql
Labels: plsql, example

#3152 plsql - ddl for hierarchy
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_hierarchy.sql
  sql/plsql/examples/create_hierarchy.sql
  sql/plsql/examples/drop_hierarchy.sql
Labels: plsql, example

#3157 Fix for 3145: get mkindex.py to list out test case files in subdirectories
  _scripts/mkindex.py
  grammars.json
Labels: infrastructure

#3159 plsql - create spfile
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_spfile.sql
Labels: plsql, example

#3158 plsql - purge stmt
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/purge_statement.sql
Labels: plsql, example

#3161 plsql - noaudit stmt
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/noaudit_statement.sql
Labels: plsql, example

#3165 plsql - ddl for tablespace set
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_tablespace_set.sql
  sql/plsql/examples/create_tablespace_set.sql
  sql/plsql/examples/drop_tablespace.sql
  sql/plsql/examples/drop_tablespace_set.sql
Labels: plsql, example

#3166 plsql - revoke stmt
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/revoke_statement.sql
Labels: plsql, example

#3170 plsql - drop indextype stmt
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/drop_indextype.sql
Labels: plsql, example

#3171 plsql - drop context stmt
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/drop_context.sql
Labels: plsql, example

#3169 plsql - drop db stmt
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/drop_database.sql
Labels: plsql, example

#3178 plsql - ddl for restore point
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_restore_point.sql
  sql/plsql/examples/drop_restore_point.sql
Labels: plsql, example

#3162 plsql - alter view update
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_view.sql
  sql/plsql/examples/views.sql
Labels: plsql, example

#3174 plsql - create,drop directory stmt
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_directory.sql
  sql/plsql/examples/drop_directory.sql
Labels: plsql, example

#3176 plsql - ddl for diskgroup
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_diskgroup.sql
  sql/plsql/examples/create_diskgroup.sql
  sql/plsql/examples/drop_diskgroup.sql
Labels: plsql, example

#3177 plsql - ddl for lockdown profile
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_lockdown_profile.sql
  sql/plsql/examples/create_lockdown_profile.sql
  sql/plsql/examples/drop_lockdown_profile.sql
Labels: plsql, example

#3172 plsql - administer key management stmt
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/administer_key_management.sql
Labels: plsql, example

#3181 plsql - ddl for audit policy
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_audit_policy.sql
  sql/plsql/examples/create_audit_policy.sql
  sql/plsql/examples/drop_audit_policy.sql
Labels: plsql, example

#3164 TS grammer - Add module as reserverd and fix 'propertyMemberBase' order
  javascript/typescript/TypeScriptParser.g4
  javascript/typescript/examples/Class.ts
  javascript/typescript/examples/Module.ts
Labels: example, typescript

#3175 Fix for 3173: TypeScript testing does not work on Linux and MacOS
  _scripts/templates/TypeScript/test.ps1
  _scripts/templates/TypeScript/test.sh
  java/java/desc.xml
Labels: target:typescript, infrastructure

#3184 plsql - commit fix
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/commit.sql
Labels: plsql, example

#3182 plsql - ddl for java
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_java.sql
  sql/plsql/examples/create_java.sql
  sql/plsql/examples/drop_java.sql
Labels: plsql, example

#3144 [Snowflake]Select parsing fix
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/select.sql
Labels: snowflake

#3139 [Snowflake]Improvement create File Format
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create_fileformat.sql
Labels: snowflake

#3187 plsql - sort stmt rules
  sql/plsql/PlSqlParser.g4
Labels: plsql, example

#3189 tsql - sort
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/constants.sql.errors
  sql/tsql/examples/keywords_reserved.sql.errors
Labels: tsql

#3188 plsql - fix alt match empty string
  sql/plsql/PlSqlParser.g4
Labels: plsql

#3163 java - fix for #2264
  java/java/JavaLexer.g4
  java/java/examples/Escapes.java
  java/java8/Java8Lexer.g4
  java/java8/desc.xml
  java/java8/examples/Escapes.java
  java/java9/Cpp/Java9Lexer.g4
  java/java9/Dart/Java9Lexer.g4
  java/java9/Java9Lexer.g4
  java/java9/examples/Escapes.java
Labels: java, example

#3191 [PlSql] Support of create/drop operator
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_operator.sql
  sql/plsql/examples/drop_operator.sql
Labels: plsql, example

#3199 [tsql] Support for "create or replace trigger"-syntax observed working on Sybase ASE 16.
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/triggers.sql
Labels: tsql, example

#3198 [Typescript] Allow type hint for 'lastFormalParameterArg'
  javascript/typescript/TypeScriptParser.g4
  javascript/typescript/examples/Variable.ts
Labels: example, typescript

#3203 promql - update README.md
  promql/README.md
Labels: promql

#3207 fix #3206
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3206.kt
Labels: kotlin, example

#3205 [Antlr4] Rule labels are not supported in lexer rules
  antlr/antlr4/ANTLRv4Parser.g4
  antlr/antlr4/examples/LexerElementLabel.g4
  antlr/antlr4/examples/LexerElementLabel.g4.errors
Labels: antlr4

#3209 kotlin - fix #3208
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3208.kt
Labels: kotlin

#3211 kotlin - fix #3210
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3210.kt
Labels: kotlin, example

#3201 [PromQL] support preserving comments
  promql/PromQLLexer.g4
  promql/examples/comments.txt
Labels: promql

#3216 kotlin - fix #3215
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3215.kt
Labels: kotlin

#3217 [SQL] Fix README files
  sql/hive/README.md
  sql/mariadb/README.md
  sql/mysql/README.md
  sql/plsql/README.md
  sql/postgresql/README.md
  sql/trino/README.md
  sql/tsql/README.md
Labels: tsql, mysql-PositiveTechnologies, hive, PostgreSQL, mariadb, trino

#3219 kotlin - fix #3218
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3218.kt
Labels: kotlin

#3221 kotlin - fix #3220
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3220.kt
Labels: kotlin

#3224 kotlin - fix #3223
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3223.kt
Labels: kotlin

#3226 kotlin - fix #3225
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3225.kt
Labels: kotlin

#3202 apache drill grammar
  sql/drill/DrillLexer.g4
  sql/drill/DrillParser.g4
  sql/drill/README.md
  sql/drill/desc.xml
  sql/drill/examples/create.sql
  sql/drill/examples/drop.sql
  sql/drill/examples/other.sql
  sql/drill/examples/select.sql
  sql/drill/pom.xml
  sql/pom.xml
Labels: new-grammar, drill

#3227 [PlSql] Incorporate conversion error support added in Oracle 12.2
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/cast.sql
  sql/plsql/examples/to_binary_double.sql
  sql/plsql/examples/to_binary_float.sql
  sql/plsql/examples/to_date.sql
  sql/plsql/examples/to_dsinterval.sql
  sql/plsql/examples/to_number.sql
  sql/plsql/examples/to_timestamp.sql
  sql/plsql/examples/to_timestamp_tz.sql
  sql/plsql/examples/to_yminterval.sql
  sql/plsql/examples/validate_conversion.sql
Labels: plsql, example

#3229 kotlin - fix #3228
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3228.kt
Labels: kotlin

#3239 kotlin - fix #3238
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3238.kt
Labels: kotlin

#3241 kotlin - fix #3240
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3240.kt
Labels: kotlin

#3243 kotlin - fix #3242
  kotlin/kotlin/KotlinParser.g4
  kotlin/kotlin/examples/kotlinFile/fix-3242.kt
Labels: kotlin, example

#3250 php - fix #3249
  php/PhpParser.g4
  php/examples/callables.php
Labels: php, example

#3222 ocl: Corrected priorities of numeric operators
  ocl/OCL.g4
Labels: ocl

#3248 php - fix #3247
  php/PhpParser.g4
  php/examples/arrayDestruction.php
Labels: php, example

#3252 php - fix #3251
  php/PhpParser.g4
  php/examples/classConstInit.php
Labels: php

#3254 php - fix #3253
  php/PhpParser.g4
  php/examples/classMethod.php
Labels: php, example

#3256 php - readonly modifier
  php/PhpLexer.g4
  php/PhpParser.g4
  php/examples/classConstructor.php
Labels: php

#3257 [PlSql] Perfect drop database syntax
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/drop_database.sql
Labels: plsql, example

#3259 [php] Fix for #3017: crash in Java target
  php/Java/PhpLexerBase.java
  php/desc.xml
Labels: php

#3267 Fix for resource to be qualified names
  java/java/JavaParser.g4
  java/java/examples/RecordsTesting.java
  java/java/examples/RecordsTesting.java.tree
  java/java/examples/TryStatements.java
  java/java/examples/TryStatements.java.tree
Labels: java

#3264 php - enum
  php/PhpLexer.g4
  php/PhpParser.g4
  php/examples/enum.php
Labels: php, example

#3263 [MySQL] Modify CREATE and ALTER TABLE rules
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_alter.sql
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#3262 [MySQL] Allow optional uidList for partitionFunctionKey rule
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#3274 php - fix #3273
  php/PhpLexer.g4
  php/examples/numericLiterals.php
Labels: php

#3271 TOML - key token fix
  toml/TomlLexer.g4
  toml/TomlParser.g4
  toml/examples/hard.toml
  toml/pom.xml
  toml/toml.g4
Labels: toml

#3276 php - declare stmt and fn token as id
  php/PhpLexer.g4
  php/PhpParser.g4
  php/examples/declareTest.php
  php/examples/identifiers.php
Labels: php, example

#3265 [PostgreSQL] Fixed priority problem of BETWEEN AND grammer
  sql/postgresql/PostgreSQLParser.g4
Labels: example, PostgreSQL

#3281 CUDA PTX ISA 1.0
  asm/pom.xml
  asm/ptx/pom.xml
  asm/ptx/ptx-isa-1.0/PTXLexer.g4
  asm/ptx/ptx-isa-1.0/PTXParser.g4
  asm/ptx/ptx-isa-1.0/README.md
  asm/ptx/ptx-isa-1.0/desc.xml
  asm/ptx/ptx-isa-1.0/examples/basic.ptx
  asm/ptx/ptx-isa-1.0/nvidia-PTX_ISA_1.0.pdf
  asm/ptx/ptx-isa-1.0/pom.xml
Labels: new-grammar, example

#3278 Add BibTeX grammar.
  bibtex/BibTeX.g4
  bibtex/BibTeXLexer.g4
  bibtex/desc.xml
  bibtex/examples/references.bib
  bibtex/pom.xml
  bibtex/readme.md
Labels: new-grammar, example, bibtex

#3290 [toml] Fix grammarName in toml/pom.xml
  toml/pom.xml
Labels: toml

#3285 [bibtex] Fix for #3284 -- standardize the grammar to work in build.
  bibtex/BibTeXParser.g4
  bibtex/desc.xml
Labels: bibtex

#3282 php - catch fix and match as an id
  php/PhpParser.g4
  php/examples/identifiers.php
  php/examples/tryCatch.php
Labels: php, example

#3297 [MySQL] Allow using of alias in single delete statement
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_delete.sql
Labels: mysql-PositiveTechnologies

#3283 Add missing privileges as per MySQL 8.x
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/grant.sql
Labels: mysql-PositiveTechnologies, example

#3299 snowflake - alerts
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/alerts.sql
  sql/snowflake/examples/ids.sql
  sql/snowflake/examples/materialized_views.sql
Labels: snowflake

#3304 postgresql moudle: remove the unnecessary code.
  sql/postgresql/CSharp/PostgreSQLParserBase.cs
  sql/postgresql/Java/PostgreSQLParserBase.java
Labels: PostgreSQL

#3308 [PostgreSql] Fix 'LEFT/RIGHT' joinType would be recognized as table alias
  sql/postgresql/PostgreSQLParser.g4
Labels: PostgreSQL

#3310 fix plsql grammar bug: create table ... nested table ...  partition by range ... tablespace ...
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: plsql, example

#3302 [TSQL] Allow "raw" for ID
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/constants.sql.errors
  sql/tsql/examples/issue_3300.sql
  sql/tsql/examples/keywords_reserved.sql.errors
Labels: tsql, example
