Repository antlr/grammars-v4, pull requests merged in 2023-10, with the labels that each got.

#3718 Remove ambiguity in the url grammar
  url/examples/example30.txt
  url/url.g4
Labels: url, example

#3750 [cool] Fix for #3747 -- fix start rule
  esolang/cool/COOL.g4
  esolang/cool/README.md
Labels: cool

#3749 [java9] Fix for #3748 -- fix start rule
  java/java9/Java9Parser.g4
Labels: java

#3753 remove quote arround COMPRESSION keyword
  sql/mysql/Positive-Technologies/MySqlLexer.g4
Labels: mysql-PositiveTechnologies

#3754 [ mysql-PositiveTechnologies][imporve] revise Positive Technologies‘s README.md
  sql/mysql/Positive-Technologies/README.md
  sql/mysql/README.md
Labels: mysql-PositiveTechnologies

#3756 Bugfix for C grammar
  c/C.g4
  c/examples/label_before_closing_curly_brace.c
Labels: c, example

#3759 Include underscore symbol in XML NameStartChar
  xml/XMLLexer.g4
  xml/examples/underscore.xml
Labels: example, xml

#3752 [lua] cleanup
  .gitattributes
  lua/.ignore/3724.lua
  lua/.ignore/3724.lua.errors
  lua/CSharp/LuaLexerBase.cs
  lua/Cpp/LuaLexerBase.cpp
  lua/Cpp/LuaLexerBase.h
  lua/Cpp/transformGrammar.py
  lua/Dart/LuaLexerBase.dart
  lua/Go/LuaLexerBase.go
  lua/Go/transformGrammar.py
  lua/Java/LuaLexerBase.java
  lua/JavaScript/LuaLexerBase.js
  lua/Lua.g4
  lua/LuaLexer.g4
  lua/LuaParser.g4
  lua/Python3/LuaLexerBase.py
  lua/Python3/transformGrammar.py
  lua/TypeScript/LuaLexerBase.ts
  lua/desc.xml
  lua/examples/1824a.lua
  lua/examples/3311.lua
  lua/examples/3311.lua.errors
  lua/examples/3741.lua
  lua/examples/3742.lua
  lua/examples/comments-galore.lua
  lua/examples/lua-5.4.6-tests/all.lua
  lua/examples/lua-5.4.6-tests/api.lua
  lua/examples/lua-5.4.6-tests/attrib.lua
  lua/examples/lua-5.4.6-tests/big.lua
  lua/examples/lua-5.4.6-tests/bitwise.lua
  lua/examples/lua-5.4.6-tests/bwcoercion.lua
  lua/examples/lua-5.4.6-tests/calls.lua
  lua/examples/lua-5.4.6-tests/closure.lua
  lua/examples/lua-5.4.6-tests/code.lua
  lua/examples/lua-5.4.6-tests/constructs.lua
  lua/examples/lua-5.4.6-tests/coroutine.lua
  lua/examples/lua-5.4.6-tests/cstack.lua
  lua/examples/lua-5.4.6-tests/db.lua
  lua/examples/lua-5.4.6-tests/errors.lua
  lua/examples/lua-5.4.6-tests/events.lua
  lua/examples/lua-5.4.6-tests/files.lua
  lua/examples/lua-5.4.6-tests/gc.lua
  lua/examples/lua-5.4.6-tests/gengc.lua
  lua/examples/lua-5.4.6-tests/goto.lua
  lua/examples/lua-5.4.6-tests/heavy.lua
  lua/examples/lua-5.4.6-tests/literals.lua
  lua/examples/lua-5.4.6-tests/literals.lua.errors
  lua/examples/lua-5.4.6-tests/locals.lua
  lua/examples/lua-5.4.6-tests/main.lua
  lua/examples/lua-5.4.6-tests/math.lua
  lua/examples/lua-5.4.6-tests/nextvar.lua
  lua/examples/lua-5.4.6-tests/pm.lua
  lua/examples/lua-5.4.6-tests/sort.lua
  lua/examples/lua-5.4.6-tests/strings.lua
  lua/examples/lua-5.4.6-tests/tpack.lua
  lua/examples/lua-5.4.6-tests/tracegc.lua
  lua/examples/lua-5.4.6-tests/utf8.lua
  lua/examples/lua-5.4.6-tests/vararg.lua
  lua/examples/lua-5.4.6-tests/verybig.lua
  lua/readme.md
Labels: lua

#3765 Update MySqlLexer.g4: replace (DEC_DIGIT+)? with DEC_DIGIT*
  sql/mysql/Positive-Technologies/MySqlLexer.g4
Labels: mysql-PositiveTechnologies

#3763 Added `SEQ` to REGULAR_ID list in PLSQL
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/seq_token_error.sql
Labels: plsql, example

#3768 [javascript] allow yield as identifier #3760
  javascript/javascript/JavaScriptParser.g4
  javascript/javascript/examples/SpecialIdentifiers.js
Labels: javascript, example

#3755 VBA Grammar updated
  vba/examples/example8_lineNumbers.bas
  vba/vba.g4
Labels: vb, example

#3775 [Trino] Add support of RESET_SESSION_AUTHORIZATION
  sql/trino/TrinoParser.g4
  sql/trino/examples/reset_session.sql
Labels: example, trino

#3778 Fix 'here' method
  javascript/javascript/CSharp/JavaScriptParserBase.cs
  javascript/javascript/Cpp/JavaScriptParserBase.cpp
  javascript/javascript/Go/javascript_parser_base.go
  javascript/javascript/Java/JavaScriptParserBase.java
  javascript/javascript/JavaScript/JavaScriptParserBase.js
  javascript/javascript/Python3/JavaScriptParserBase.py
  javascript/javascript/examples/Continue.js
Labels: javascript, example

#3770 [build] Fix for #3766 -- install specific version of PHP, set max stack size
  .github/workflows/main.yml
  c/desc.xml
Labels: infrastructure

#3773 [javascript] fix problem with continue/break/return statements #3772
  javascript/javascript/CSharp/JavaScriptParserBase.cs
  javascript/javascript/Cpp/JavaScriptParserBase.cpp
  javascript/javascript/Cpp/JavaScriptParserBase.h
  javascript/javascript/Go/javascript_parser_base.go
  javascript/javascript/Java/JavaScriptParserBase.java
  javascript/javascript/JavaScript/JavaScriptParserBase.js
  javascript/javascript/JavaScriptParser.g4
  javascript/javascript/Python3/JavaScriptParserBase.py
  javascript/javascript/examples/issue3772ContinueStatement.js
  javascript/javascript/examples/issue3772ContinueStatement.js.tree
Labels: javascript

#3791 [PlSql] Add pragma_declaration to package_obj_body
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples-sql-script/pragma_exception_init.pkb
Labels: plsql, example

#3769 [javascript] fix new Date().getTime() is not parsed correctly #3767
  javascript/javascript/JavaScriptParser.g4
  javascript/javascript/examples/Issue2178NewExpression.js.tree
  javascript/javascript/examples/Issue3767NewExpression.js
  javascript/javascript/examples/Issue3767NewExpression.js.tree
Labels: javascript, example

#3792 [PlSql] Support dblink in `DBMS_METADATA` style
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/dblink.sql
Labels: plsql, example

#3796 fix of should be a keyword #3795
  javascript/javascript/JavaScriptLexer.g4
  javascript/javascript/JavaScriptParser.g4
Labels: javascript

#3794 Added NASM grammar
  asm/nasm/desc.xml
  asm/nasm/examples/call1_64.asm
  asm/nasm/examples/fib_64l.asm
  asm/nasm/examples/fltarith_64.asm
  asm/nasm/examples/hello_64.asm
  asm/nasm/examples/horner_64.asm
  asm/nasm/examples/ifint_64.asm
  asm/nasm/examples/intarith_64.asm
  asm/nasm/examples/intlogic_64.asm
  asm/nasm/examples/loopint_64.asm
  asm/nasm/examples/printf1_64.asm
  asm/nasm/examples/printf2_64.asm
  asm/nasm/examples/shift_64.asm
  asm/nasm/examples/testreg_64.asm
  asm/nasm/nasm_x86_64_Lexer.g4
  asm/nasm/nasm_x86_64_Parser.g4
  asm/nasm/pom.xml
  asm/pom.xml
Labels: new-grammar

#3801 [Snowflake]Add DIRECTION,LENGTH and LANGUAGE as allowed keyword
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create_table.sql
Labels: example, snowflake
