Repository antlr/grammars-v4, pull requests merged in 2023-09, with the labels that each got.

#3701 plsql -- Fix for #3700
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/lob-item.sql
  sql/plsql/examples/lob-item.sql.tree
Labels: plsql, example

#3693 informix-sql: add support of set debug file stmt.
  sql/informix-sql/InformixSQLLexer.g4
  sql/informix-sql/InformixSQLParser.g4
  sql/informix-sql/examples/set_debug_file.sql
Labels: example, informix-sql

#3692 Extend REINDEX support in PostgresSql
  sql/postgresql/PostgreSQLParser.g4
  sql/postgresql/examples/reindex.sql
Labels: example, PostgreSQL

#3702 PLSQL: Trim+Both syntax fix & Improved cascade behavior for drop constraints
  sql/plsql/PlSqlParser.g4
  sql/plsql/desc.xml
  sql/plsql/examples/alter_table.sql
Labels: plsql, example

#3683 Update vba.g4
  vba/vba.g4
Labels: vb

#3680 fix utf8/unicode handling (target Cpp for swift5)
  swift/swift5/Cpp/SwiftSupport.cpp
Labels: swift, target:cpp

#3707 [Snowflake]COLLATE admit also a function's syntax
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/select.sql
Labels: example, snowflake

#3699 Fix for #3125 -- Add Antlr4 PHP target testing
  .github/workflows/main.yml
  _scripts/templates/PHP/st.build.ps1
  _scripts/templates/PHP/st.build.sh
  python/python3/TypeScript/Python3LexerBase.ts
  python/python3/desc.xml
  sql/snowflake/desc.xml
Labels: target:php

#3717 PL/SQL: fix rules for CREATE TRIGGER (compound form) statement
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_trigger.sql
Labels: plsql, example

#3685 Fix typo in SCSS lexer
  scss/ScssLexer.g4
  scss/examples/basic.scss
Labels: example, scss

#3709 added SEMICOLON lexer definition and parser rule for Fortran90(see issue: https://github.com/antlr/grammars-v4/issues/3708)
  fortran/fortran90/Fortran90Lexer.g4
  fortran/fortran90/Fortran90Parser.g4
Labels: fortran

#3721 Fix for #3720 -- Update Go target testing versions.
  .github/workflows/main.yml
  _scripts/templates/Go/go.mod
Labels: target:go

#3722 Fix for #3719 -- Update version for Cpp testing
  _scripts/templates/Cpp/st.CMakeLists.txt
  kotlin/kotlin-formal/desc.xml
Labels: kotlin, target:cpp
