Repository antlr/grammars-v4, pull requests merged in 2023-08, with the labels that each got.

#3641 Add split_to_table with lateral
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/select.sql
Labels: example, snowflake

#3640 snowflake - dynamic tables
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/dynamic_table.sql
  sql/snowflake/examples/ids.sql
Labels: example, snowflake

#3642 [MariaDB] Add support for ALTER TABLE IF EXISTS
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/examples/fast/ddl_alter.sql
Labels: example, mariadb

#3643 [Snowflake]Fix TAG are schema-level object
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create.sql
Labels: example, snowflake

#3654 Support XMLTYPE as a native data type
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_table.sql
  sql/plsql/examples/create_table.sql
Labels: plsql, example

#3650 [plsql] Fix for #3647 -- added TypeScript and JavaScript ports
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/TypeScript/PlSqlLexerBase.ts
  sql/plsql/TypeScript/PlSqlParserBase.ts
  sql/plsql/desc.xml
  sql/plsql/hw-examples/alter_operator.sql
  sql/plsql/hw-examples/alter_outline.sql
  sql/plsql/hw-examples/drop_operator.sql
  sql/plsql/hw-examples/keywordasidentifier02.sql
  sql/plsql/hw-examples/lexer01.sql
  sql/plsql/hw-examples/lexer02.sql
  sql/plsql/hw-examples/lexer03.sql
  sql/plsql/hw-examples/lexer04.sql
  sql/plsql/hw-examples/lexer05.sql
  sql/plsql/hw-examples/simple11.sql
  sql/plsql/hw-examples/truncate_table.sql
Labels: plsql

#3648 [plsql] Fix for #3646 -- removed warning "rule json_function contains an optional block with at least one alternative that can match an empty string"
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/json_query.sql
  sql/plsql/examples/json_query.sql.tree
Labels: plsql, example

#3644 snowflake - group by all
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/select.sql
Labels: snowflake

#3657 Fix issue at llvm-ir grammar.
  llvm-ir/LLVMIR.g4
  llvm-ir/examples/returnAttribute_align.ll
Labels: example, llvm-ir

#3659 [java20] New grammar, Java version 20
  java/java20/CSharp/JavaLexerBase.cs
  java/java20/Cpp/JavaLexerBase.cpp
  java/java20/Cpp/JavaLexerBase.h
  java/java20/Cpp/transformGrammar.py
  java/java20/Dart/JavaLexerBase.dart
  java/java20/Java/JavaLexerBase.java
  java/java20/Java20Lexer.g4
  java/java20/Java20Parser.g4
  java/java20/README.md
  java/java20/desc.xml
  java/java20/examples/AllInOne8.java
  java/java20/examples/Instanceof.java
  java/java20/examples/ManyStringsConcat.java
  java/java20/examples/TryWithResourceDemo.java
  java/java20/examples/Unicode.java
  java/java20/examples/helloworld.java
  java/java20/examples/module-info.java
  java/java20/pom.xml
Labels: java

#3655 [plsql] Fix for #2225 -- rename EMPTY to EMPTY_ to remove symbol conflict
  sql/plsql/CSharp/PlSqlLexerBase.cs
  sql/plsql/CSharp/PlSqlParserBase.cs
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
Labels: plsql

#3649 informix-sql: add support of set dataskip stmt.
  sql/informix-sql/InformixSQLLexer.g4
  sql/informix-sql/InformixSQLParser.g4
  sql/informix-sql/examples/set_dataskip.sql
Labels: example, informix-sql

#3661 [MySQL] Dbz crashed on parsing MySQL DDL statement including "SELECT 1 + @sum:=1 AS ss;"
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: mysql-PositiveTechnologies, example

#3666 Parse simple "OF XMLTYPE" as xmltype_table
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: plsql, example

#3667 [MySQL] Add REPEAT function
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: mysql-PositiveTechnologies, example

#3668 [MySQL] Modify JOIN clause to support unstructured joins
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_select.sql
Labels: mysql-PositiveTechnologies, example

#3663 [MariaDB] Align to parse exception with MySQL DDL statement including "SELECT 1 + @sum:=1 AS ss;"
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/examples/fast/dml_select.sql
Labels: mariadb

#3664 Adding WKT CRS v1 grammar.
  pom.xml
  wkt-crs-v1/README.md
  wkt-crs-v1/desc.xml
  wkt-crs-v1/examples/example1.txt
  wkt-crs-v1/pom.xml
  wkt-crs-v1/wktcrsv1.g4
Labels: new-grammar, wkt

#3674 [sql/mysql/Positive-Technologies] Fix for #3673--add Java target
  sql/mysql/Positive-Technologies/desc.xml
Labels: java, mysql-PositiveTechnologies

#3653 [plsql] Fix for #2589 -- performance improvements
  sql/plsql/PlSqlParser.g4
  sql/plsql/README.md
  sql/plsql/examples/json_query.sql.tree
  sql/plsql/examples/timing.sql.tree
Labels: plsql

#3676 [java20] Fix maven tester for java20
  java/java20/pom.xml
  java/pom.xml
Labels: java

#3679 add support for Cpp target to swift5
  swift/swift5/Cpp/SwiftSupport.cpp
  swift/swift5/Cpp/SwiftSupport.h
  swift/swift5/Cpp/SwiftSupportLexer.cpp
  swift/swift5/Cpp/SwiftSupportLexer.h
  swift/swift5/Cpp/transformGrammar.py
  swift/swift5/Java/SwiftSupport.java
  swift/swift5/Java/SwiftSupportLexer.java
  swift/swift5/Swift5Lexer.g4
  swift/swift5/Swift5Parser.g4
  swift/swift5/desc.xml
Labels: swift, target:cpp
