Repository antlr/grammars-v4, pull requests merged in 2023-01, with the labels that each got.

#2985 hive consistent prj names
  sql/hive/pom.xml
  sql/hive/v2/pom.xml
  sql/hive/v3/pom.xml
Labels: hive

#2976 plsql subquery with all、any、some.
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/select_all_some_any.sql
Labels: plsql, example

#2987 fix: Add compact constructor rule to Java.
  java/java/JavaParser.g4
  java/java/examples/AllInOne17.java
  java/java/examples/RecordsTesting.java
  java/java/examples/RecordsTesting.java.tree
Labels: java, example

#2995 feat: DROP MATERIALIZED VIEW for sql/plsql
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/drop_materialized_view.sql
  sql/plsql/examples/drop_materialized_view.sql.tree
Labels: plsql, example

#2997 Factor the `VALUES` clause into its own grammatical element.
  sql/sqlite/SQLiteParser.g4
  sql/sqlite/examples/values.sql
Labels: sqlite, example

#2996 Fix: sql/plsql for WHENEVER SQLERROR
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/whenever_sqlerror.sql
  sql/plsql/examples/whenever_sqlerror.sql.tree
Labels: plsql, example

#3000 Fix JavaScript target for plsql grammar-- #2999
  sql/plsql/JavaScript/PlSqlLexerBase.js
  sql/plsql/JavaScript/PlSqlParserBase.js
  sql/plsql/JavaScript/transformGrammar.py
Labels: plsql, target:javascript

#3001 feat: add column aliases, scoped table ref for CREATE MATERIALIZED VIEW in sql/plsql
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/materialized_views.sql
Labels: plsql, example

#2994 Extended TSql Parser and Lexer
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/built_in_functions_date.sql
  sql/tsql/examples/built_in_functions_math.sql
  sql/tsql/examples/database_engine_stored_procedures.sql
  sql/tsql/examples/hints.sql.tree
  sql/tsql/examples/non_ansi_join.sql
  sql/tsql/examples/temporary_tables.sql
  sql/tsql/examples/xml_data_type.sql.tree
Labels: tsql, example

#3004 fortran77: continue should only allow single label
  fortran77/Fortran77Parser.g4
  fortran77/examples/continue-example.txt
Labels: fortran, example

#3003 fortran77: elseIfStatement allows comments
  fortran77/Fortran77Lexer.g4
  fortran77/Fortran77Parser.g4
  fortran77/examples/elseIfExample.txt
Labels: fortran, example

#3002 fortran77: fix gotoStatement
  fortran77/Fortran77Lexer.g4
  fortran77/Fortran77Parser.g4
  fortran77/examples/goto-example.txt
Labels: fortran, example

#2984 Fixes for Snowflake SQL grammar
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/at_before.sql
  sql/snowflake/examples/create.sql
  sql/snowflake/examples/having.sql
  sql/snowflake/examples/iff.sql
  sql/snowflake/examples/other.sql
  sql/snowflake/examples/select.sql
Labels: example, snowflake

#3012 [TSQL] Fixed STUFF built-in function and declare statement
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/built_in_functions_string.sql
  sql/tsql/examples/xml_data_type.sql.tree
Labels: tsql, example

#3014 New Bicep grammar
  _scripts/skip-cpp.txt
  bicep/Bicep.g4
  bicep/examples/empty.txt
  bicep/examples/importDecl.txt
  bicep/examples/metadataDecl.txt
  bicep/examples/moduleDecl.txt
  bicep/examples/outputDecl.txt
  bicep/examples/parameterDecl.txt
  bicep/examples/program.txt
  bicep/examples/resourceDecl.txt
  bicep/examples/targetScope.txt
  bicep/examples/typeDecl.txt
  bicep/examples/variableDecl.txt
  bicep/pom.xml
  bicep/readme.md
  pom.xml
Labels: new-grammar, example, bicep

#3008 [PostgreSQL] Built-in functions, merge statement and Non Ansi Join
  sql/postgresql/PostgreSQLLexer.g4
  sql/postgresql/PostgreSQLParser.g4
  sql/postgresql/examples/builtin_functions_date.sql
  sql/postgresql/examples/builtin_functions_format_date.sql
  sql/postgresql/examples/builtin_functions_math.sql
  sql/postgresql/examples/builtin_functions_string.sql
  sql/postgresql/examples/merge.sql
  sql/postgresql/examples/non_ansi_join.sql
Labels: example, PostgreSQL

#3022 [csharp] Example for changes introduced in PR3005
  csharp/examples/MultiplicativeExprsInArgList.cs
Labels: csharp, example

#3021 fix csharp parse cast_expression error #3020
  csharp/CSharpParser.g4
Labels: csharp

#3019 Fix: TypeScript Cpp port missing header file
  javascript/typescript/Cpp/TypeScriptLexerBase.cpp
Labels: target:cpp, typescript

#3016 Fix XML function chain call grammar
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/xml_function.sql
Labels: plsql, example

#3010 [PlSql] enh: handle INMEMORY in ALTER TABLE
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_table_inmemory.sql
Labels: plsql

#3006 [PlSql]feat: handle sqlplus TIMING command
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/timing.sql
  sql/plsql/examples/timing.sql.tree
Labels: plsql, example

#3025 Role REVOKE with user-like role name
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/grant.sql
Labels: mysql-PositiveTechnologies, example

#3026 ALTER and CREATE USER allow ROLE option
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_alter.sql
Labels: mysql-PositiveTechnologies, example

#3030 [PromQL] Support trailing commas in labelMatcherList
  promql/PromQLParser.g4
  promql/examples/label_matcher_list_trailing_comma.txt
Labels: example, promql

#3036 [TSql] Fix default expression for table constraints
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_table.sql
Labels: tsql, example

#3032 add grammar for llvm ir
  llvm-ir/LICENSE
  llvm-ir/LLVMIR.g4
  llvm-ir/README.md
  llvm-ir/README.zh.md
  llvm-ir/examples/diexpression.ll
  llvm-ir/examples/func_align.ll
  llvm-ir/examples/func_align.ll.golden
  llvm-ir/examples/global_align.ll
  llvm-ir/examples/global_align.ll.golden
  llvm-ir/examples/hexfloat.ll
  llvm-ir/examples/hexfloat.ll.golden
  llvm-ir/examples/hexint.ll
  llvm-ir/examples/hexint.ll.golden
  llvm-ir/examples/inst_aggregate.ll
  llvm-ir/examples/inst_binary.ll
  llvm-ir/examples/inst_bitwise.ll
  llvm-ir/examples/inst_conversion.ll
  llvm-ir/examples/inst_memory.ll
  llvm-ir/examples/inst_other.ll
  llvm-ir/examples/inst_vector.ll
  llvm-ir/examples/main.ll
  llvm-ir/examples/multiple_named_metadata_defs.ll
  llvm-ir/examples/multiple_named_metadata_defs.ll.golden
  llvm-ir/examples/param_attrs.ll
  llvm-ir/examples/rand.ll
  llvm-ir/examples/terminator.ll
  llvm-ir/examples/test.ll
  llvm-ir/examples/test1.ll
  llvm-ir/examples/test2.ll
  llvm-ir/examples/test3.ll
  llvm-ir/examples/test4.ll
  llvm-ir/pom.xml
Labels: new-grammar, example, llvm-ir
