Repository antlr/grammars-v4, pull requests merged in 2023-02, with the labels that each got.

#3038 [SemVer] adding grammar for the semantic version spec
  pom.xml
  semver/LICENSE.txt
  semver/README.md
  semver/SemanticVersionLexer.g4
  semver/SemanticVersionParser.g4
  semver/examples/semver-edge-case.txt
  semver/examples/semver-full-2.txt
  semver/examples/semver-full.txt
  semver/examples/semver-simple.txt
  semver/examples/semver-with-build-2.txt
  semver/examples/semver-with-build-3.txt
  semver/examples/semver-with-build.txt
  semver/examples/semver-with-pre-release-2.txt
  semver/examples/semver-with-pre-release-3.txt
  semver/examples/semver-with-pre-release.txt
  semver/pom.xml
Labels: new-grammar, example

#3034 [PostgreSQL] Swap order of columnDef and tableconstraint in tableelement rule #3033
  sql/postgresql/PostgreSQLParser.g4
Labels: PostgreSQL

#3046 [TSql] Remove unused rule
  sql/tsql/TSqlParser.g4
Labels: tsql

#3040 [Typescript grammar] Add `Boolean` and `Number` as keywords
  javascript/typescript/TypeScriptParser.g4
  javascript/typescript/examples/Variable.ts
Labels: example, typescript

#3050 Fix #3028
  verilog/systemverilog/SystemVerilogLexer.g4
  verilog/verilog/VerilogLexer.g4
Labels: verilog, system-verilog

#3052 Account for nested braces in template strings
  javascript/typescript/CSharp/TypeScriptLexerBase.cs
  javascript/typescript/Cpp/TypeScriptLexerBase.cpp
  javascript/typescript/Cpp/TypeScriptLexerBase.h
  javascript/typescript/Java/TypeScriptLexerBase.java
  javascript/typescript/TypeScript/TypeScriptLexerBase.ts
  javascript/typescript/TypeScriptLexer.g4
  javascript/typescript/examples/TemplateStrings.js
Labels: target:java, target:csharp-standard, target:javascript, target:cpp, example, typescript

#3055 [TSql] Fix ambiguity of temp tables (partial revert of #2994)
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/hints.sql.tree
  sql/tsql/examples/xml_data_type.sql.tree
Labels: tsql, example

#3041 [Tsql] Fix grammar for revert
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/revert.sql
Labels: tsql, example

#3053 [TSql] Add many dbcc commands and remove default dbcc rule
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/dbcc.sql
  sql/tsql/examples/keywords_as_id.sql
Labels: tsql, example

#3056 [TSql] Add data type built-in functions
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/built_in_functions_data_type.sql
  sql/tsql/examples/keywords_as_id.sql
Labels: tsql, example

#3057 [TSql] Add logical built-in functions
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/built_in_functions_logical.sql
  sql/tsql/examples/keywords_as_id.sql
Labels: tsql, example

#3058 Support @ modifier
  promql/PromQLLexer.g4
  promql/PromQLParser.g4
  promql/examples/at_modifier_constant.txt
  promql/examples/at_modifier_expression.txt
Labels: example, promql

#3044 Fixes for sql/plsql and Go target.
  sql/plsql/Go/plsql_base_parser.go
  sql/plsql/Go/plsql_lexer_base.go
  sql/plsql/Go/plsql_parser_base.go
  sql/plsql/Go/transformGrammar.py
Labels: plsql, target:go

#3060 [TSql] Add support for json built-in functions
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/built_in_functions_json.sql
  sql/tsql/examples/keywords_as_id.sql
Labels: tsql, example

#3065 [TSql] Reduce ambiguity
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/constants.sql
  sql/tsql/examples/constants.sql.errors
  sql/tsql/examples/dml_select.sql
  sql/tsql/examples/hints.sql.tree
  sql/tsql/examples/keywords_reserved.sql.errors
  sql/tsql/examples/xml_data_type.sql.tree
Labels: tsql, example

#3066 Apex 1
  apex/apex.g4
  apex/examples/ExampleSafeDereference.cls
Labels: example, apex

#3067 [TSql] Add support for cursor built-in functions
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/built_in_functions_cursor.sql
  sql/tsql/examples/constants.sql.errors
  sql/tsql/examples/keywords_as_id.sql
  sql/tsql/examples/keywords_reserved.sql.errors
Labels: tsql, example

#3070 Apex 4
  apex/apex.g4
  apex/examples/ExampleInvocableMethod.cls
Labels: example, apex

#3064 apache hive v4 grammar and basic tests
  sql/hive/pom.xml
  sql/hive/v4/HiveLexer.g4
  sql/hive/v4/HiveParser.g4
  sql/hive/v4/README.md
  sql/hive/v4/examples/create-table.hql
  sql/hive/v4/examples/create-view.hql
  sql/hive/v4/examples/drop-table.hql
  sql/hive/v4/examples/expression.sql
  sql/hive/v4/examples/select.sql
  sql/hive/v4/examples/show-tables.hql
  sql/hive/v4/pom.xml
Labels: example, hive

#3073 #2990 - fix for "contains an optional block with at least one alternative tha…
  sql/mysql/Positive-Technologies/MySqlParser.g4
Labels: mysql-PositiveTechnologies, example

#3062 [Tsql] Fix grammar for alter_service
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_alter_service.sql
Labels: tsql, example

#3076 [MySQL] Add support for VALUES Statement
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#3077 [MariaDB] Add support for Table Value Constructors
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/examples/ddl_create.sql
Labels: example, mariadb

#3075 Support all privileges of MariaDB 10.6 in MariaDB grammar
  sql/mariadb/MariaDBLexer.g4
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/examples/grant.sql
Labels: example, mariadb

#3079 [Plsql] Fix column_definition
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: plsql, example

#3080 Update Pddl.g4
  pddl/Pddl.g4
Labels: pddl

#3085 [MariaDB] Add variant of ALTER TABLE ADD UNIQUE IF NOT EXISTS
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/examples/ddl_alter.sql
Labels: example, mariadb

#3007 fix plsql grammar bugs
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_table.sql
  sql/plsql/examples/flashback_table.sql
  sql/plsql/examples/select_all_some_any.sql
Labels: plsql, example

#3086 tsql - create/alter db audit spec
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_alter_database_audit_specification.sql
  sql/tsql/examples/ddl_create_database_audit_specification.sql
Labels: tsql, example

#3087 tsql - alter xml schema collection
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_alter_xml_schema_collection.sql
Labels: tsql, example

#3088 trino - alter table alter column set data type
  sql/trino/README.md
  sql/trino/TrinoParser.g4
  sql/trino/examples/alter_table_alter_column_set_data_type.sql
Labels: example, trino

#3092 #3009 - tsql - create endpoint and missing token
  sql/tsql/TSqlLexer.g4
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/constants.sql.errors
  sql/tsql/examples/create_endpoint.sql
  sql/tsql/examples/keywords_reserved.sql.errors
Labels: tsql, example

#3094 trino - new features
  sql/trino/TrinoLexer.g4
  sql/trino/TrinoParser.g4
  sql/trino/examples/comment_view.sql
  sql/trino/examples/create_materialized_view.sql
Labels: example, trino

#3074 add base classes for TypeScript
  python/python3/TypeScript/Python3LexerBase.ts
  python/python3/TypeScript/Python3ParserBase.ts
  python/python3/TypeScript/README.md
Labels: typescript

#3071 #3043 - create table - update to oracle 21
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/README.md
  sql/plsql/examples/create_table.sql
Labels: plsql, example

#3098 snowflake: fix parsing of `COMMENT` in column declaration
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create.sql
Labels: example, snowflake

#3099 snowflake: Remove `PUBLIC` as a keyword
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/examples/call.sql
  sql/snowflake/examples/other.sql
Labels: example, snowflake

#3097 [GLSL,(System)Verilog] fix comments/spaces inside directives
  glsl/GLSLLexer.g4
  glsl/GLSLPreParser.g4
  verilog/systemverilog/SystemVerilogLexer.g4
  verilog/systemverilog/SystemVerilogPreParser.g4
  verilog/verilog/VerilogLexer.g4
  verilog/verilog/VerilogPreParser.g4
Labels: verilog, system-verilog, glsl

#3101 Update expressionExamples.txt
  ocl/examples/expressionExamples.txt
Labels: ocl

#3091 [Tsql] Fix grammar for foreign_key_options
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_alter_table.sql
Labels: tsql, example

#3119 Recfile
  recfile/README.md
  recfile/desc.xml
  recfile/examples/example1.txt
  recfile/examples/example2.txt
  recfile/pom.xml
  recfile/recfile.g4
Labels: new-grammar, example, recfile

#3120 Chip8
  chip8/README.md
  chip8/chip8.g4
  chip8/desc.xml
  chip8/examples/example1.txt
  chip8/pom.xml
Labels: new-grammar, example, chip8

#3109 [Snowflake] Fix column declaration
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create.sql
  sql/snowflake/examples/create_table.sql
Labels: example, snowflake

#3089 'create/alter/drop database link' grammar spec for plsql.
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/dblink.sql
Labels: plsql, example

#3110 PLSQL - Oracle 21 - DDL for ANALYTIC VIEW
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_analytic_view.sql
  sql/plsql/examples/create_analytic_view.sql
  sql/plsql/examples/drop_analytic_view.sql
Labels: plsql, example

#3127 snowflake - ID as public
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create.sql
  sql/snowflake/examples/grant.sql
Labels: example, snowflake

#3122 [Tsql] Fix grammar for change_tracking_option
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_alter_database.sql
Labels: tsql, example

#3126 [Snowflake]Select statement4view and RAW
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create.sql
  sql/snowflake/examples/create_table.sql
  sql/snowflake/examples/create_view.sql
Labels: example, snowflake

#3128 plsql - ddl for attribute dimension
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_attribute_dimension.sql
  sql/plsql/examples/create_attribute_dimension.sql
  sql/plsql/examples/drop_attribute_dimension.sql
Labels: plsql, example

#3133 plsql - database link fix
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/dblink.sql
Labels: plsql, example

#3129 with sql parser
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_with.sql
Labels: mysql-PositiveTechnologies, example

#3132 [Snowflake]Procedure with JAVASCRIPT language
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create.sql
  sql/snowflake/examples/create_procedure.sql
Labels: example, snowflake

#3015 Add Cpp target support for PhpLexer
  php/Cpp/PhpLexerBase.cpp
  php/Cpp/PhpLexerBase.h
  php/Cpp/README.md
  php/Cpp/transformGrammar.py
  php/Cpp/ystd.hpp
  php/PhpLexer.g4
Labels: php, target:cpp

#3136 plsql - create controlfile and alter db update
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_controlfile.sql
Labels: plsql, example

#3153 plsql - disassociate_statistics
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/disassociate_statistics.sql
Labels: plsql, example

#3155 plsql - ddl for pmem filestore
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_pmem_filestore.sql
  sql/plsql/examples/create_pmem_filestore.sql
  sql/plsql/examples/drop_pmem_filestore.sql
Labels: plsql, example
