Repository antlr/grammars-v4, pull requests merged in 2023-04, with the labels that each got.

#3140 [Snowflake]Improve table parsing
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create_table.sql
Labels: snowflake

#3317 plsql: support of create dimension ...
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_dimension.sql
Labels: plsql, example

#3318 [Snowflake]handle boolean operation
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create_fileformat.sql
  sql/snowflake/examples/create_fileformat.sql.errors
  sql/snowflake/examples/select.sql
Labels: example, snowflake

#3321 plsql:fix grammar bug of alter role
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_role.sql
Labels: plsql, example

#3322 Allow concatenated durations
  promql/PromQLLexer.g4
  promql/examples/duration.txt
Labels: example, promql

#3324 Change order of expression for Java/Java grammar to parse correctly
  java/java/JavaParser.g4
  java/java/examples/ExpressionOrder.java
  java/java/examples/ExpressionOrder.java.tree
Labels: java, example

#3327 Add awk grammar
  awk/README.md
  awk/awk.g4
  awk/desc.xml
  awk/examples/average_score.awk
  awk/examples/count_words.awk
  awk/examples/domain_name.awk
  awk/pom.xml
Labels: new-grammar, example, awk

#3331 [JSON] Fix exponent number not allowing leading 0s
  json/JSON.g4
  json/examples/numbers.json
Labels: example, json

#3332 plsql: fix grammar bug with select time 'time str' ...
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/select_time.sql
Labels: plsql, example

#3333 [Objective-C ] Fix className and categoryName positions in categoryImplementation rule
  objc/ObjectiveCParser.g4
Labels: objective-c

#3340 Fix typo "Parser"
  golang/Python3/transformGrammar.py
Labels: go

#3341 informix-sql:add support of drop user/drop table grammar.
  sql/informix-sql/InformixSQLLexer.g4
  sql/informix-sql/InformixSQLParser.g4
  sql/informix-sql/examples/drop_table.sql
  sql/informix-sql/examples/drop_user.sql
Labels: example, informix-sql

#3346 [tsql] Fix typo in principal_id rule
  sql/tsql/TSqlParser.g4
  sql/tsql/examples-small/grant_principal_id.sql
  sql/tsql/examples-small/grant_principal_id.sql.tree
Labels: tsql, example

#3347 [Snowflake]handle JS Function and add keyword
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create_function.sql
  sql/snowflake/examples/select.sql
Labels: snowflake

#3343 Updated order of Java/Java expression parsing order
  java/java/JavaParser.g4
  java/java/examples/ExpressionOrder.java
  java/java/examples/ExpressionOrder.java.tree
Labels: java, example

#3339 grammars fix to sql/trino
  sql/trino/TrinoLexer.g4
Labels: trino

#3355 fix insert statement
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/dml_insert.sql
Labels: mysql-PositiveTechnologies, example

#3345 add support of informix-sql grammars.
  sql/informix-sql/InformixSQLLexer.g4
  sql/informix-sql/InformixSQLParser.g4
  sql/informix-sql/examples/drop_type.sql
  sql/informix-sql/examples/drop_view.sql
Labels: example, informix-sql

#3352 [build] Fix for #3351, update to latest trgen
  .github/workflows/main.yml
  _scripts/readme.md
  _scripts/really-run.ps1
Labels: dependencies

#3336 Update vba.g4
  vba/vba.g4
Labels: vb
