Repository antlr/grammars-v4, pull requests merged in 2023-05, with the labels that each got.

#3367 [antlr2] Removed useless parentheses.
  antlr/antlr2/ANTLRv2Parser.g4
Labels: antlr2

#3368 [antlr3] Removed useless parentheses.
  antlr/antlr3/ANTLRv3Parser.g4
Labels: antlr3

#3372 Update apex.g4
  apex/apex.g4
Labels: apex

#3366 [angelscript] Remove useless parentheses.
  angelscript/angelscript.g4
Labels: angelscript

#3330 [java] fix consecutive semicolons problems
  java/java/JavaParser.g4
  java/java/examples/ConsecutiveSemicolons.java
Labels: java, example

#3395 [ada83] Removed additional useless parentheses.
  ada/ada83/Ada83Lexer.g4
Labels: ada

#3400 [MariaDB] Add support for userstat plugin keywords
  sql/mariadb/MariaDBLexer.g4
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/examples/userstat.sql
Labels: example, mariadb

#3390 [build] Fix for #3389
  .github/workflows/main.yml
  _scripts/readme.md
  _scripts/really-run.ps1
Labels: infrastructure

#3401 [dart2] Removed useless parentheses.
  dart2/Dart2Lexer.g4
  dart2/Dart2Parser.g4
Labels: dart

#3394 [ada95] Remove useless parentheses.
  ada/ada95/Ada95Lexer.g4
  ada/ada95/Ada95Parser.g4
Labels: ada

#3409 [xpath31] Removed useless parentheses.
  xpath/xpath31/XPath31.g4
Labels: xpath

#3408 [xpath20] Remove useless parentheses.
  xpath/xpath20/XPath20.g4
Labels: xpath

#3419 [golang] Remove useless parentheses.
  golang/GoParser.g4
Labels: go

#3416 [ada2005] One more useless parentheses removed.
  ada/ada2005/Ada2005Lexer.g4
Labels: ada

#3417 [ada2012] Useless parentheses removed
  ada/ada2012/AdaLexer.g4
Labels: ada

#3418 [agc] Removed a couple of useless parentheses
  agc/agc.g4
Labels: agc

#3422 [algol60] Removed useless parentheses.
  algol60/algol60.g4
Labels: algol60

#3423 [angelscript] Removed useless parentheses.
  angelscript/angelscript.g4
Labels: angelscript

#3440 [java8] Removed useless parentheses.
  java/java8/Java8Parser.g4
Labels: java

#3439 [java] Removed useless parentheses.
  java/java/JavaParser.g4
Labels: java

#3443 [cypher] Removed useless parentheses.
  cypher/CypherParser.g4
Labels: cypher

#3442 [build] Moved Trash scripts to https://github.com/kaby76/g4-checks.
  _scripts/find-conflicts.sh
  _scripts/find-missing-eof-sr.sh
Labels: infrastructure

#3452 [calculator] Removed useless parentheses around character range.
  calculator/calculator.g4
Labels: calculator

#3450 [csharp] Removed useless parentheses.
  csharp/CSharpParser.g4
Labels: csharp

#3456 Java: Simplify creator & arrayCreatorRest rules
  java/java/JavaParser.g4
Labels: java

#3455 TSqlParser.g4 add optional OR ALTER in create_view
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_create_view.sql
Labels: tsql, example

#3458 TSqlParser.g4 add rule on_partition_or_filegroup in create_table
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_create_table.sql
Labels: tsql, example

#3482 [TSql] Add support for ALTER VIEW
  sql/tsql/TSqlParser.g4
  sql/tsql/examples/ddl_alter_view.sql
Labels: tsql, example

#3473 rename the module name to ptx-isa-2.1
  asm/ptx/pom.xml
  asm/ptx/ptx-isa-2.1/pom.xml
Labels: dependencies

#3453 informix-sql: add support of database stmt/close stmt/close database stmt/commit grammars.
  sql/informix-sql/InformixSQLLexer.g4
  sql/informix-sql/InformixSQLParser.g4
  sql/informix-sql/examples/close_stmt.sql
  sql/informix-sql/examples/commit.sql
Labels: example, informix-sql

#3457 Java: Reuse arguments rule at methodCall rule (#3430)
  java/java/JavaParser.g4
  java/java/examples/ExpressionOrder.java.tree
  java/java/examples/LocalVariableDeclaration.java.tree
  java/java/examples/TryStatements.java.tree
Labels: java

#3483 [vhdl] Rewrite grammar with caseInsensitive option
  vhdl/vhdl.g4
Labels: vhdl, case-insensitive

#3454 change the antlr import address for go target.
  sql/plsql/Go/plsql_lexer_base.go
  sql/plsql/Go/plsql_parser_base.go
Labels: dependencies

#3388 Remove functionDeclaration from anonymousFunction rule (antlr#3387)
  javascript/javascript/JavaScriptParser.g4
Labels: javascript

#3486 informix-sql:add support of drop index stmt.
  sql/informix-sql/InformixSQLLexer.g4
  sql/informix-sql/InformixSQLParser.g4
  sql/informix-sql/examples/drop_index.sql
Labels: example, informix-sql

#3489 informix-sql:add support of drop trusted context
  sql/informix-sql/InformixSQLLexer.g4
  sql/informix-sql/InformixSQLParser.g4
  sql/informix-sql/examples/drop_trusted_context.sql
Labels: example, informix-sql
