Repository antlr/grammars-v4, pull requests merged in 2024-05, with the labels that each got.

#4060 [sql/derby and sql/tsql] Fix #4047
  sql/derby/DerbyLexer.g4
  sql/tsql/TSqlLexer.g4
Labels: tsql, derby

#4082 Remove backslash from JSON exponential notation
  json/JSON.g4
Labels: json

#4049 Vaxscan
  vaxscan/README.md
  vaxscan/desc.xml
  vaxscan/examples/caps.scn
  vaxscan/examples/comment.scn
  vaxscan/examples/compress.scn
  vaxscan/examples/convert.scn
  vaxscan/examples/cref.scn
  vaxscan/examples/crlf.scn
  vaxscan/examples/crypt.scn
  vaxscan/examples/dcl.scn
  vaxscan/examples/dif.scn
  vaxscan/examples/global.scn
  vaxscan/examples/hanoi.scn
  vaxscan/examples/macro.scn
  vaxscan/examples/micro1.scn
  vaxscan/examples/micro2.scn
  vaxscan/examples/mms.scn
  vaxscan/examples/record.scn
  vaxscan/examples/replace.scn
  vaxscan/examples/time.scn
  vaxscan/examples/traceback.scn
  vaxscan/examples/trap.scn
  vaxscan/examples/trees.scn
  vaxscan/pom.xml
  vaxscan/vaxscan.g4
Labels: new-grammar, vaxscan

#4029 [PlSql] Fix alphabetic match portability
  sql/plsql/PlSqlLexer.g4
  sql/plsql/examples/lexer02.sql
  sql/plsql/examples/lexer02.sql.tree
Labels: plsql

#4083 Aterm
  aterm/README.md
  aterm/aterm.g4
  aterm/desc.xml
  aterm/examples/example1.txt
  aterm/examples/example10.txt
  aterm/examples/example11.txt
  aterm/examples/example12.txt
  aterm/examples/example13.txt
  aterm/examples/example14.txt
  aterm/examples/example15.txt
  aterm/examples/example2.txt
  aterm/examples/example3.txt
  aterm/examples/example4.txt
  aterm/examples/example5.txt
  aterm/examples/example6.txt
  aterm/examples/example7.txt
  aterm/examples/example8.txt
  aterm/examples/example9.txt
  aterm/pom.xml
  pom.xml
Labels: new-grammar, example, aterm

#4093 Action
  action/README.md
  action/action.g4
  action/desc.xml
  action/examples/example1.txt
  action/examples/example2.txt
  action/examples/primes.txt
  action/pom.xml
  pom.xml
Labels: new-grammar, example, action

#4099 Pf
  pf/README.md
  pf/examples/example1.txt
  pf/examples/example10.txt
  pf/examples/example11.txt
  pf/examples/example2.txt
  pf/examples/example3.txt
  pf/examples/example4.txt
  pf/examples/example5.txt
  pf/examples/example6.txt
  pf/examples/example7.txt
  pf/examples/example8.txt
  pf/examples/example9.txt
  pf/pf.g4
  pf/pom.xml
  pom.xml
Labels: new-grammar, example, pf

#4111 Removed copyrights in the MySQL grammars for generated code.
  sql/mysql/Oracle/MySQLLexer.g4
  sql/mysql/Oracle/MySQLParser.g4
Labels: mysql-Oracle

#4112 Fix grammars.json
  grammars.json
Labels: json
