Repository antlr/grammars-v4, pull requests merged in 2024-08, with the labels that each got.

#4187 chore: fix some comments
  House_Rules.md
  sql/plsql/examples/pivot02.sql
  terraform/examples/reference_data_resources.tf
Labels: documentation

#4193 [Snowflake]Improvement DYNAMIC TABLE
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/dynamic_table.sql
  sql/snowflake/examples/tables.sql
Labels: example, snowflake

#4195 Add starrocks g4
  sql/pom.xml
  sql/starrocks/StarRocksLexer.g4
  sql/starrocks/StarRocksParser.g4
  sql/starrocks/desc.xml
  sql/starrocks/examples/alter_load_test.sql
  sql/starrocks/examples/select_test.sql
  sql/starrocks/examples/truncate_test.sql
  sql/starrocks/pom.xml
Labels: new-grammar, example, starrocks

#4204 Added Python3 target support for the Rust Grammar.
  rust/Cpp/transformGrammar.py
  rust/Java/RustLexerBase.java
  rust/Python3/RustLexerBase.py
  rust/Python3/RustParserBase.py
  rust/Python3/testing_script.py
  rust/Python3/transformGrammar.py
  rust/README.md
  rust/RustParser.g4
  rust/desc.xml
  rust/examples/long/deno_core_runtime.rs
  rust/examples/long/inlinepython_example.rs
  rust/examples/long/intellijrust_test_allinone.rs
  rust/examples/long/issue_1985_raw_string.rs
  rust/examples/long/leaf_vmessstream.rs
  rust/examples/long/literal.rs
  rust/examples/long/rustls_quic.rs
  rust/examples/long/ssrust_config.rs
  rust/examples/long/ssrust_ssserver.rs
  rust/examples/quick/comment.rs
  rust/examples/quick/hello.rs
  rust/examples/quick/v1_46_0_split_float_literal.rs
  rust/examples/quick/v1_46_0_split_float_literal.rs.tree
  rust/examples/quick/v1_48_0_unsafe_mod.rs
  rust/examples/quick/v1_53_0_or_pattern.rs
  rust/examples/quick/v1_53_0_unicode_identifier.rs
  rust/examples/quick/v1_56_0_open_range.rs
Labels: rust

#4207 add support for rust with the go runtime
  rust/Go/rust_lexer_base.go
  rust/Go/rust_parser_base.go
  rust/Go/transformGrammar.py
Labels: rust
