Repository antlr/grammars-v4, pull requests merged in 2024-06, with the labels that each got.

#4127 Added a vba_like grammar within the VBA project space.
  vba/pom.xml
  vba/vba6/desc.xml
  vba/vba6/examples/example09_typeHints.bas
  vba/vba6/examples/example1.bas
  vba/vba6/examples/example10_form_header.frm
  vba/vba6/examples/example2operators.bas
  vba/vba6/examples/example3erase.bas
  vba/vba6/examples/example4fixedstring.bas
  vba/vba6/examples/example5property.bas
  vba/vba6/examples/example6dateliteral.bas
  vba/vba6/examples/example7linecontinuation.bas
  vba/vba6/examples/example8_lineNumbers.bas
  vba/vba6/pom.xml
  vba/vba6/vba.g4
  vba/vba_like/README.md
  vba/vba_like/desc.xml
  vba/vba_like/examples/pattern01
  vba/vba_like/examples/pattern01.tree
  vba/vba_like/examples/pattern02
  vba/vba_like/examples/pattern02.errors
  vba/vba_like/pom.xml
  vba/vba_like/vba_like.g4
Labels: vba

#4136 [r] Fix for #4135 -- specify the "R" grammar for testing, skip "RFilter"
  r/desc.xml
Labels: R

#4138 Added example to increase coverage of vba_like to 100%
  vba/vba_like/examples/pattern03
Labels: vba

#4137 VBA Conditional Compilation Grammar
  vba/pom.xml
  vba/vba_cc/README.md
  vba/vba_cc/desc.xml
  vba/vba_cc/examples/cc.bas
  vba/vba_cc/pom.xml
  vba/vba_cc/vba_cc.g4
Labels: vba

#4118 Fix the value of categoryName and className in categoryInterface is r…
  objc/ObjectiveCParser.g4
Labels: objective-c

#4139 Add alternative Oracle constraint syntax
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: plsql

#4145 snowflake - adding trailing optional comma to select list
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create_view.sql
  sql/snowflake/examples/select.sql
Labels: snowflake

#4146 [PlSql] Fix result_cache_clause & table_properties clauses
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: plsql

#4144 Fix #4143 [javascript] Fixed the end detection of the placeholder in template literals.
  javascript/javascript/CSharp/JavaScriptLexerBase.cs
  javascript/javascript/Cpp/JavaScriptLexerBase.cpp
  javascript/javascript/Cpp/JavaScriptLexerBase.h
  javascript/javascript/Go/javascript_lexer_base.go
  javascript/javascript/Java/JavaScriptLexerBase.java
  javascript/javascript/JavaScript/JavaScriptLexerBase.js
  javascript/javascript/JavaScriptLexer.g4
  javascript/javascript/Python3/JavaScriptLexerBase.py
  javascript/javascript/examples/TemplateLiterals.js
Labels: javascript
