Repository antlr/grammars-v4, pull requests merged in 2024-02, with the labels that each got.

#3950 DBZ-7420 Modify alterSpecification Clause
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/examples/fast/ddl_alter.sql
Labels: example, mariadb

#3953 [VB6] Fix two corner cases
  vb6/VisualBasic6Parser.g4
  vb6/examples/test1.bas
Labels: vb, example

#3937 add RSICV-ASM grammar
  asm/asmRISCV/README.md
  asm/asmRISCV/Riscv64G.g4
  asm/asmRISCV/desc.xml
  asm/asmRISCV/examples/Hello.S
  asm/asmRISCV/examples/Test.S
  asm/asmRISCV/pom.xml
  asm/pom.xml
Labels: asm

#3962 snowflake - added interval cast
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/ids.sql
  sql/snowflake/examples/select.sql
Labels: example, snowflake

#3958 Rewrote JSX element parsing to address various issues.
  javascript/jsx/Java/JavaScriptLexerBase.java
  javascript/jsx/JavaScriptLexer.g4
  javascript/jsx/JavaScriptParser.g4
  javascript/jsx/examples/TestCases.jsx
Labels: example, jsx

#3971 Support Oracle 23 "IF [NOT] EXISTS"
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_index.sql
  sql/plsql/examples/create_table.sql
  sql/plsql/examples/create_tablespace.sql
  sql/plsql/examples/create_view.sql
  sql/plsql/examples/drop_table.sql
  sql/plsql/examples/drop_tablespace.sql
  sql/plsql/examples/drop_user.sql
  sql/plsql/examples/drop_view.sql
Labels: plsql, example

#3972 Support Oracle 23 SELECT with optional FROM clause
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/select_without_from.sql
Labels: plsql, example

#3969 add support for Cpp target to golang
  golang/Cpp/GoParserBase.cpp
  golang/Cpp/GoParserBase.h
  golang/Cpp/transformGrammar.py
  golang/GoParser.g4
  golang/desc.xml
Labels: cpp, target:go

#3963 semver does not allow digit '0' in version numbers
  semver/SemanticVersionLexer.g4
  semver/examples/semver-edge-case-2.txt
  semver/examples/semver-simple-2.txt
  semver/examples/semver-simple-3.txt
Labels: semver

#3976 Eiffel grammar
  eiffel/Eiffel.g4
  eiffel/desc.xml
  eiffel/examples/eiffel-2-eiffel/.gitignore
  eiffel/examples/eiffel-2-eiffel/CodeGenerator.java
  eiffel/examples/eiffel-2-eiffel/Eiffel.g4
  eiffel/examples/eiffel-2-eiffel/EiffelGrammar.g4
  eiffel/examples/eiffel-2-eiffel/EiffelGrammarMain.java
  eiffel/examples/eiffel-2-eiffel/build
  eiffel/examples/eiffel-2-eiffel/clean
  eiffel/examples/eiffel-2-eiffel/clean-codegen
  eiffel/examples/eiffel-2-eiffel/run
  eiffel/examples/example-primes/antlr4_parse_tree.png
  eiffel/examples/example-primes/show_primes.e
  eiffel/examples/example-primes/show_primes.ecf
  eiffel/examples/example-prog-args/antlr4_parse_tree.png
  eiffel/examples/example-prog-args/prog_args.e
  eiffel/examples/example-prog-args/prog_args.ecf
Labels: eiffel
