Repository antlr/grammars-v4, pull requests merged in 2024-07, with the labels that each got.

#4147 [ICalendar] add trailing CRLF to request-status property
  icalendar/ICalendar.g4
Labels: ical

#4150 [cpp] Fix for #4149 -- fix translation/refactoring of several rules from the ISO spec
  cpp/CPP14Parser.g4
  cpp/examples/g4-4149.cpp
Labels: cpp

#4160 Improved ANTLR Grammar for R Code in JPlag
  r/R.g4
  r/examples/Complete.R
  r/examples/Game.R
Labels: R

#4164 Added support for SPL (Splunk)
  spl/README.md
  spl/SPLLexer.g4
  spl/SPLParser.g4
  spl/desc.xml
  spl/examples/by.txt
  spl/examples/complex_query_1.txt
  spl/examples/complex_query_2.txt
  spl/examples/in.txt
  spl/examples/join.txt
  spl/examples/like_1.txt
  spl/examples/like_2.txt
  spl/examples/not.txt
  spl/examples/or.txt
  spl/examples/outputnew.txt
  spl/examples/regex.txt
  spl/examples/simple_query.txt
  spl/examples/time.txt
  spl/examples/wildcard_1.txt
  spl/examples/wildcard_2.txt
  spl/pom.xml
Labels: splunk

#4165 [MariaDB] Support RENAME TABLE IF EXISTS
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/examples/fast/ddl_create.sql
Labels: example, mariadb
