Repository antlr/grammars-v4, pull requests merged in 2024-11, with the labels that each got.

#4296 Changes withElement definition to be closer to CQL3 specification
  cql3/CqlParser.g4
  cql3/examples/tableOptions.cql
Labels: cql

#4297 Fix the definition of interfaces for typescript
  javascript/typescript/CSharp/TypeScriptParserBase.cs
  javascript/typescript/Cpp/TypeScriptParserBase.cpp
  javascript/typescript/Cpp/TypeScriptParserBase.h
  javascript/typescript/Java/TypeScriptParserBase.java
  javascript/typescript/TypeScript/TypeScriptParserBase.ts
  javascript/typescript/TypeScriptParser.g4
Labels: typescript

#4214 fix LuaLexerBase;
  lua/JavaScript/LuaLexerBase.js
  lua/Python3/LuaLexerBase.py
  lua/TypeScript/LuaLexerBase.ts
Labels: lua

#4310 add hashed labels to expression rule in JavaParser
  java/java/JavaParser.g4
  java/java/examples/ExpressionOrder.java.tree
  java/java/examples/GenericConstructor.java.tree
  java/java/examples/LocalVariableDeclaration.java.tree
  java/java/examples/RecordsTesting.java.tree
  java/java/examples/SwitchExpression.java.tree
  java/java/examples/TryStatements.java.tree
Labels: java

#4344 Added EDITIONABLE clause to create_type
  sql/plsql/PlSqlParser.g4
Labels: plsql
