Repository antlr/grammars-v4, pull requests merged in 2024-10, with the labels that each got.

#4269 Add TypeScript target for Golang
  golang/TypeScript/GoParserBase.ts
  golang/desc.xml
Labels: go

#4273 [dot] Fix semicolon as attribute list separator
  dot/DOT.g4
Labels: dot

#4275 Add TypeScript target for Rust
  rust/TypeScript/RustLexerBase.ts
  rust/TypeScript/RustParserBase.ts
  rust/desc.xml
Labels: rust

#4282 Corrected typo forbis -> forbids
  json/JSON.g4
Labels: json

#4283 [build] Fix ClickHouse pom typo
  sql/clickhouse/pom.xml
Labels: clickhouse

#4287 [PlSql] Add POSITION as keyword & allow as a column name
  sql/plsql/PlSqlLexer.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_table.sql
Labels: plsql

#4280 Fix case *_ error
  python/python3_12/PythonParser.g4
  python/python3_12/changes.md
  python/python3_12/tests/test_match_case.py
Labels: python3
