Repository antlr/grammars-v4, pull requests merged in 2024-12, with the labels that each got.

#4353 [mysql/Oracle] Fixing "mvn clean test" for Oracle MySQL grammar.
  sql/mysql/Oracle/pom.xml
Labels: mysql-Oracle

#4347 Update PlSqlParser.g4
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/not_member_of.sql
Labels: plsql

#4355 [postgresql] Fix for #4354 (#4354)
  sql/postgresql/PostgreSQLLexer.g4
  sql/postgresql/PostgreSQLParser.g4
  sql/postgresql/examples/numbers.sql
  sql/postgresql/examples/numbers.sql.tree
Labels: PostgreSQL
