Repository antlr/grammars-v4, pull requests merged in 2024-03, with the labels that each got.

#3988 [Snowflake]Refacto Group by + sample
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/create_table.sql
  sql/snowflake/examples/select.sql
Labels: snowflake

#4000 [PlSql] Fix JSON_OBJECT to allow FORMAT JSON for all entry types
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/json_sql.sql
Labels: plsql, example

#3939 [PlSql] Correctly parse package init blocks with simple statements
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples-sql-script/package_with_simple_init_block.pkb
Labels: plsql, example

#4004 [PlSql] Accept string concatenation and functions as LISTAGG delimiter
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/analytic_query.sql
Labels: plsql, example

#4001 Improved support for computed arguments in both JavaScript and TypeScript.
  javascript/javascript/JavaScriptParser.g4
  javascript/typescript/TypeScriptParser.g4
  javascript/typescript/examples/JavaScriptClass.js
  javascript/typescript/examples/Variable.ts
Labels: javascript, typescript

#4005 [PlSql] Fix separator of top-level routines preventing subsequent statements
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/create_procedure01.sql.tree
  sql/plsql/examples/create_procedure03.sql
Labels: plsql

#4003 [PlSql] Fix combination of JSON conditions with logical expressions
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/json_sql.sql
Labels: plsql, example

#4011 [PlSql] Allow numeric functions as aggregate function in PIVOT
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/pivot13.sql
Labels: plsql, example

#4015 [PlSql] Simplify JSON condition handling
  sql/plsql/PlSqlParser.g4
Labels: plsql, performance

#3975 [Postgresql] fix parsing issue for cube and rollup clauses
  sql/postgresql/PostgreSQLParser.g4
Labels: PostgreSQL

#4017 Support numeric values without mantissas
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_table.sql
Labels: debezium

#4010 [build] Fix for #4008 -- add testing of TypeScript target back
  _scripts/what-to-test.sh
  bison/desc.xml
  gvpr/desc.xml
  python/python3/desc.xml
  sql/plsql/desc.xml
Labels: target:typescript, infrastructure

#4022 Support RETURNING as identifier
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_alter.sql
Labels: mysql-PositiveTechnologies, example

#4031 snowflake - standalone having clause
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/select.sql
Labels: example, snowflake

#4033 [MariaDB] Support `NATIONAL CHAR` data types
  sql/mariadb/MariaDBParser.g4
  sql/mariadb/examples/fast/ddl_create.sql
Labels: example, mariadb
