Repository antlr/grammars-v4, pull requests merged in 2024-01, with the labels that each got.

#3918 Add an alternative branch collection_expression to the values_clause rule
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/values_clause.sql
Labels: plsql, example

#3920 general_element_part rule modification
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/general_element_part.sql
Labels: plsql, example

#3848 fix: attach rule in ICalendar.g4 was not handling binary properly
  icalendar/ICalendar.g4
  icalendar/examples/example1.ics
Labels: ical, example

#3922 Support Select Statement with Subquery and Union
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/ddl_create.sql
Labels: mysql-PositiveTechnologies, example

#3927 [SNOWFLAKE]fix small bug
  sql/snowflake/SnowflakeLexer.g4
  sql/snowflake/SnowflakeParser.g4
  sql/snowflake/examples/alter.sql
  sql/snowflake/examples/create_table.sql
  sql/snowflake/examples/select.sql
Labels: example, snowflake

#3924 Support 'ANY' operation in logical expression
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/quntitative_expression.sql
Labels: plsql, example

#3932 [PlSql] Properly support multiple out_of_line_constraints
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_table.sql
Labels: plsql, example

#3946 DBZ-7360 Modify SPLIT_TABLE_PARTITIONING Clause
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/alter_table.sql
Labels: plsql, example
