Repository antlr/grammars-v4, pull requests merged in 2025-04, with the labels that each got.

#4454 Issue: 4453 Add support for Go 1.24's Generic Type Aliases
  golang/GoParser.g4
  golang/examples/genericTypeAlias.go
Labels: go

#4455 Fix: identifier name cannot include '<' or '>'
  vba/vba6/vba.g4
Labels: vba

#4458 [golang] Partial fix of #4449: removing ambiguity in conversion vs function calls.
  golang/JavaScript/GoParserBase.js
  golang/desc.xml
Labels: go

#4412 Support MySQL GRANT SENSITIVE_VARIABLES_OBSERVER
  sql/mysql/Oracle/examples/grant.sql
  sql/mysql/Positive-Technologies/MySqlLexer.g4
  sql/mysql/Positive-Technologies/MySqlParser.g4
  sql/mysql/Positive-Technologies/examples/grant.sql
Labels: mysql-PositiveTechnologies

#4447 Add curly brackets to excluded regexLexer chars
  xsd-regex/examples/example-exact-quantity.txt
  xsd-regex/regexLexer.g4
Labels: xsd

#4451 Split OCL Grammar and Add Support for Invariants and Derived Attributes
  ocl/OCL.g4
  ocl/README.md
  ocl/UMLRSDS.g4
  ocl/desc.xml
  ocl/examples/expressions/expressionExamples.txt
  ocl/examples/multipleContextSpecifications/contextExamples.txt
  ocl/examples/specification/bondApp.km3
Labels: ocl

#4461 [golang] Fixes for #4460 and #4462 (ambiguities)
  _scripts/templates/Cpp/cmake/st.ExternalAntlr4Cpp.cmake
  golang/Antlr4ng/GoParserBase.ts
  golang/CSharp/GoParserBase.cs
  golang/Cpp/GoParserBase.cpp
  golang/Cpp/GoParserBase.h
  golang/Dart/GoParserBase.dart
  golang/Go/go_parser_base.go
  golang/GoParser.g4
  golang/Java/GoParserBase.java
  golang/Python3/GoParserBase.py
  golang/TypeScript/GoParserBase.ts
Labels: go

#4100 Whenever
  esolang/pom.xml
  esolang/whenever/README.md
  esolang/whenever/desc.xml
  esolang/whenever/examples/example1.txt
  esolang/whenever/examples/example2.txt
  esolang/whenever/examples/example3.txt
  esolang/whenever/examples/example4.txt
  esolang/whenever/examples/example5.txt
  esolang/whenever/pom.xml
  esolang/whenever/whenever.g4
Labels: new-grammar, example, whenever

#4470 [c] Fix #4463 -- unused rule removed.
  c/C.g4
Labels: c

#4473 Add ImHex PatternLanguage
  hexpat/HexPat.g4
  hexpat/README.md
  hexpat/desc.xml
  hexpat/examples/dex.hexpat
  hexpat/examples/java_class.hexpat
  hexpat/examples/zip.hexpat
  hexpat/pom.xml
  pom.xml
Labels: new-grammar, example, ImHex
