Repository antlr/grammars-v4, pull requests merged in 2025-08, with the labels that each got.

#4567 Add a grammar for SRT files
  .gitattributes
  srt/README.md
  srt/desc.xml
  srt/examples/srt_example.txt
  srt/examples/srt_example.txt.tree
  srt/pom.xml
  srt/srt.g4
  srt/srtListener.java
Labels: new-grammar, test data, srt

#4571 Added new grammar "YINI", it's a configuration format
  yini/README.md
  yini/desc.xml
  yini/license
  yini/pom.xml
  yini/src/main/antlr4/org/yini/YiniLexer.g4
  yini/src/main/antlr4/org/yini/YiniParser.g4
  yini/src/main/examples/Advanced.yini
  yini/src/main/examples/AppConfig.yini
  yini/src/main/examples/Application-Configuration.yini
  yini/src/main/examples/Application-Settings-with-Sections.yini
  yini/src/main/examples/Basic Configuration.yini
  yini/src/main/examples/Big.yini
  yini/src/main/examples/Booleans.yini
  yini/src/main/examples/Compact.yini
  yini/src/main/examples/Complex-Structure-with-Multiple-Sections.yini
  yini/src/main/examples/Deeply-Nested-Sections.yini
  yini/src/main/examples/Escape-Codes-2.yini
  yini/src/main/examples/Escape-Codes-Example.yini
  yini/src/main/examples/Feature-Flags.yini
  yini/src/main/examples/Feature-Toggles-with-Alternative-Syntax.yini
  yini/src/main/examples/Lists.yini
  yini/src/main/examples/MyPrefs.yini
  yini/src/main/examples/Nested-Objects.yini
  yini/src/main/examples/Nested-Sections.yini
  yini/src/main/examples/Null-and-Missing-Values.yini
  yini/src/main/examples/Numbers.yini
  yini/src/main/examples/Package-Example.yini
  yini/src/main/examples/Script-Metadata.yini
  yini/src/main/examples/Sections.yini
  yini/src/main/examples/Short-1.yini
  yini/src/main/examples/Short-2.yini
  yini/src/main/examples/Simple-1.yini
  yini/src/main/examples/Simple-2.yini
  yini/src/main/examples/Simple-explained.yini
  yini/src/main/examples/String-Literals-with-Different-Types.yini
  yini/src/main/examples/Strings.yini
  yini/src/main/examples/Triple-Quoted-Strings.yini
  yini/src/main/examples/User-Preferences-Configuration.yini
  yini/src/main/examples/User-Role-Definitions.yini
  yini/src/main/examples/WebApp.yini
  yini/src/main/examples/myPackage-1.yini
  yini/src/main/examples/myPackage-2.yini
  yini/src/main/examples/only-in-strict-mode/Advanced.yini
  yini/src/main/examples/only-in-strict-mode/Feature-Toggles-with-Alternative-Syntax.yini
  yini/src/main/examples/only-in-strict-mode/Nested-Sections.yini
  yini/src/main/examples/only-in-strict-mode/Package-Example.yini
  yini/src/main/examples/only-in-strict-mode/Short-1.yini
  yini/src/main/examples/only-in-strict-mode/Short-2.yini
  yini/src/main/examples/only-in-strict-mode/Simple-1.yini
  yini/src/main/examples/only-in-strict-mode/Simple-2.yini
  yini/src/main/examples/only-in-strict-mode/WebApp.yini
  yini/src/main/java/org/yini/App.java
  yini/src/test/java/org/yini/AppTest.java
Labels: new-grammar, test data, yini

#4587 Update PlSqlParser.g4/Allow direct collection usage in MERGE USING clause in PL/SQL grammar
  sql/plsql/PlSqlParser.g4
  sql/plsql/examples/merge_using_collection.sql
Labels: plsql
